<div class="convo_index_page">
  <a href="<%= deal_url(activity.id) %>">
  <% if current_user?(activity.seller) %>
    <% if activity.selling_method == "Static Price" %>
      <p><%= image_tag activity.product.pictures.first.photo_cropped(:thumbnail) %>Selling to <%= activity.buyer.name %></p>
    <% else %>
      <% if activity.user_proposed_price.nil? %>
        <p><%= image_tag activity.product.pictures.first.photo_cropped(:thumbnail) %>Selling to <%= activity.buyer.name %></p>
      <% else %>
        <p><%= image_tag activity.product.pictures.first.photo_cropped(:thumbnail) %>Selling to <%= activity.buyer.name %></p>
      <% end %>
    <% end %>
  <% else %>
    <p><%= image_tag activity.product.pictures.first.photo_cropped(:thumbnail) %>Buying from <%= activity.seller.name %></p>
  <% end %>  
  </a>
</div>
