<% if (current_user?(activity.seller) and activity.status(true)[1]) or (current_user?(activity.buyer) and activity.status(false)[1]) %>
<div class="activity_index_page activity_action_needed">
<% else %> 
<div class="activity_index_page">
<% end %>
  <a href="<%= deal_url(activity.id) %>">
  <% if current_user?(activity.seller) %>    
    <p><%= image_tag activity.product.pictures.first.photo_cropped(:thumbnail) %>Selling to <%= activity.buyer.name %>
  <% else %>
    <p><%= image_tag activity.product.pictures.first.photo_cropped(:thumbnail) %>Buying from <%= activity.seller.name %>
  <% end %>  
  <% if activity.selling_method == "Static Price" %>
    <br>
    <%= number_to_currency(activity.product.price) %>
  <% else %>
    <% unless activity.user_proposed_price.nil? %>
      <br>
      <%= number_to_currency(activity.user_proposed_price) %>
    <% end %>
  <% end %>
  <br>
  <%= time_ago_in_words(activity.updated_at) + " ago" %>
  <% if current_user?(activity.seller) %>
    <br>
    <%= activity.status(true)[0] %>
  <% elsif current_user?(activity.buyer) %>
    <br>
    <%= activity.status(false)[0] %>
  <% end %>
  </p>
  </a>
</div>
