        <div class="feed_item">
          <% case item.class.name %>
            <% when "Product" %>
              <div class="feed_product">
                <%= image_tag item.user.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.user.name %></h2>
                <div class="result no-border">
                  <a class="magnifier" href="<%= item.pictures.first.photo_cropped(:large) %>">
                    <%= image_tag item.pictures.first.photo_cropped(:thumb), class: "product_image_search" %>
                  </a>
                  <div class="result_info">
                    <a href="<%= product_url(item) %>"><h2><%= item.title %></h2></a>
                    <h3><%= number_to_currency(item.price) %></h3>
                    <h4>Location: <%= Geocoder.address([item.latitude, item.longitude]) %></h4>
                    <% if logged_in? %>
                      <h4>Distance from me: <%= item.distance_to(current_user, :mi).round(1) %> Miles</h4>
                    <% else %>
                      <h4>Distance from me: <%= item.distance_to([request.location.latitude, request.location.longitude], :mi).round(1) %> Miles</h4>
                    <% end %>
                  </div>
                </div>
            <% when "Store" %>
              <div class="feed_store">
                <%= image_tag item.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.name %></h2></a>
                <p id="main_text">
                  <%= item.description %>
                </p>
            <% when "Share" %>
              <div class="feed_share">
                <%= image_tag item.user.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.user.name %></h2></a>                
                <p id="main_text">
                  <%= item.comment %>
                </p>
                <%= render partial: "item", object: item.post %>
            <% when "Micropost" %>
              <div class="feed_micropost">
                <%= image_tag item.user.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.user.name %></h2></a>
                <p id="main_text">
                  <%= item.content %>
                </p>
                <% if item.user.id == current_user.id %>
                  <%= link_to "Edit", '', id: "edit_micropost_#{item.id}" %> <%= link_to "Delete", '', id: "delete_micropost_#{item.id}" %>
                <% end %>
            <% when "Deal" %>
              <div class="feed_deal">
                <% if item.seller_id == current_user.id %>
                  <%= image_tag item.buyer.profile_picture(:thumbnail) %>
                  <a href="<%= user_path(item.buyer) %>"><h2><%= item.buyer.name %></h2></a>
                <% else %>
                  <%= image_tag item.seller.profile_picture(:thumbnail) %>
                  <a href="<%= user_path(item.seller) %>"><h2><%= item.seller.name %></h2></a>
                <% end %>
                <h3>
                  <%= link_to "Your deal on #{item.product.title}", item %>
                </h3>
                <%= image_tag item.product.pictures.first.photo_cropped(:thumb) %>
                <p>
                  Current status: 
                  <% if item.deal_complete %>
                    Complete
                  <% elsif item.product_received %>
                    Product Received
                  <% elsif item.payment_complete %>
                    Payment Complete
                  <% elsif item.agreement_achieved %>
                    Sale Agreed
                  <% else %>
                    This deal is still under negotiation
                  <% end %>
                </p>
            <% when "Blogpost" %>
              <div class="feed_blogpost">
                <%= image_tag item.user.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.user.name %></h2></a>
                <h3>
                  <%= item.title %>
                </h3> 
                <p>
                  <%= item.content %>
                </p>
          <% end %>
          <% if item.class.name == "Share" %>
            <% if item.user.id == current_user.id %>                                 
              <p>  
                <%= link_to "Edit", '', id: "edit_share_#{item.id}_#{current_user.id}" %> <%= link_to "Delete", '', id: "delete_share_#{item.id}_#{current_user.id}" %>
              </p> 
            <% end %>
          <% end %>
          <p>
              <%= time_ago_in_words(item.updated_at) %> ago        
            <% if item.class.name == "Blogpost" or item.class.name == "Micropost" or item.class.name == "Share" %>
                <% if current_user.likes?(item) %>
                  <%= link_to "Unlike", '', id: "like_#{item.class}_#{item.id}_#{current_user.id}" %>
                <% else %>
                  <%= link_to "Like", '', id: "like_#{item.class}_#{item.id}_#{current_user.id}" %>
                <% end %>
                <%= link_to pluralize(item.likes.count, "Like"), '', id: "likes_#{item.class}_#{item.id}_#{current_user.id}" %>
                <%= link_to pluralize(item.comments.count, "Comment"), '', id: "comments_#{item.class}_#{item.id}_#{current_user.id}" %>
                <%= link_to pluralize(item.shares.count, "Share"), '', id: "shares_#{item.class}_#{item.id}_#{current_user.id}" unless item.class.name == "Share" %>
              </p>
              <form class="pure-form" id="new_comment">
              <fieldset>
                <%= text_field_tag "comment", nil, placeholder: "Comment on this", class: "full-width" %>
                <button id="<%= "commentForm_" + item.class.to_s + "_" + item.id.to_s + "_" + current_user.id.to_s %>" class="align-right pure-button pure-button-primary">Comment</button>
              </fieldset>
              </form>
              <div id="commentsBox_#{item.class}_#{item.id}_#{current_user.id}" class="comments_box">
                <div id="likesListLarge" class="large_likes_list">
                  <% item.likes.each do |like| %>                    <div class="like">
                      <%= image_tag like.user.profile_picture(:thumbnail), class: "pure-img" %>
                      <a href="<%= user_path(like.user) %>"><h4><%= like.user.name %></h4></a>
                      <button class="pure-button" id="follow_<%= like.user.id %>">
                        <% if current_user.following?(like.user) %>
                          Unfollow
                        <% elsif current_user.id == like.user.id %>
                          Me
                        <% else %>
                          Follow
                        <% end %>
                      </button>
                    </div>
                  <% end %>
                </div>
                  <div id="commentsList" class="comments_list">
                    <% item.comments.each do |comment| %>
                      <div class="comment">
                        <%= image_tag comment.user.profile_picture(:thumbnail), class: "pure-img" %>
                        <a href="<%= user_path(comment.user) %>"><h4><%= comment.user.name %></h4></a>
                        <button class="pure-button" id="follow_<%= comment.user.id %>">
                          <% if current_user.following?(comment.user) %>
                            Unfollow
                          <% elsif current_user.id == comment.user.id %>
                            Me
                          <% else %>
                            Follow 
                          <% end %>
                        </button>
                        <p id="main_text">
                          <%= comment.comment %>
                        </p>
                        <% if comment.user.id == current_user.id %>
                          <%= link_to "Edit", '', id: "edit_comment_#{comment.id}_#{current_user.id}" %>
                          <%= link_to "Delete", '', id: "delete_comment_#{comment.id}_#{current_user.id}" %>
                        <% end %>
                        <p>
                          <%= time_ago_in_words(comment.updated_at) %> ago
                          <% if current_user.likes?(comment) %>
                            <%= link_to "Unlike", '', id: "like_#{comment.class}_#{comment.id}_#{current_user.id}" %>
                          <% else %>
                            <%= link_to "Like", '', id: "like_#{comment.class}_#{comment.id}_#{current_user.id}" %>
                          <% end %>
                          <%= link_to pluralize(comment.likes.count, "Like"), '', id: "likes_#{comment.class}_#{comment.id}_#{current_user.id}" %>
                        </p>
                        <ul id="likesList_#{item.class}_#{item.id}_#{current_user.id}" class="likes_list">
                          <% comment.likes.each do |like| %>
                            <li><%= like.user.name %></li>
                          <% end %>
                        </ul>                
                      </div>
                    <% end %>
                  </div>
              </div>
              <ul id="likesList_#{item.class}_#{item.id}_#{current_user.id}" class="likes_list">
                <% item.likes.each do |like| %>
                  <li><%= like.user.name %></li>
                <% end %>
              </ul>
          <% else %>
            </p>  
          <% end %>
          </div> 
        </div>
