<% provide(:title, "Home") %>

<% if !logged_in? %>
<div class="sign-up">
  <div class="splash">
    <h1 class="splash-head">iGold.com</h1>
    <p class="splash-subtitle">
      Where the world trades gold.
    </p>
    <p>
      <%= link_to "Get Started", signup_url, class: 'pure-button pure-button-primary' %>
    </p>
  </div>
</div>
<h1 class="content-header">Trade gold, coins and jewelry with ease.</h1>
        <div class="pad-box pure-g">
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    Specialized marketplace
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Sell with confidence
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Join the community
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    Powerful business tools
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div>
        </div>
        <div class="ribbon pad-box pure-g">
        <div class="pad-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
          <p class="no-fees">
            $0.00
          </p>
          <p class="no-fees-subheader">
            per item
          </p>
        </div>
        <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-4-5">

            <h1 class="content-header">No selling or buying fees.</h1>

            <p class="no-fees-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>
    <h1 class="content-header">Take a tour.</h1>
        <div class="pad-box pure-g">
            <div class="pure-u-1 pure-u-md-1-2">

                <h3 class="content-subhead">
                    Featured products
                </h3>
                <p>
                    <% @featured.each do |product| %>
                      <%= render product %>
                    <% end %>
                </p>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <h3 class="content-subhead">
                    Featured stores
                </h3>
                <p>
                    <% @featured.each do |product| %>
                      <%= render product %>
                    <% end %>
                </p>
            </div>
        </div>
        <div class="pad-box pure-g">
            <div class="pure-u-1">
                <h3 class="content-subhead">
                    Most popular
                </h3>
                <p>
                    <% @top_products.each do |product| %>
                      <%= render product %>
                    <% end %>
                </p>
            </div>
        </div>
<% else %>
    <div class="gallery_container">
        <h1>For You</h1>
  <div class="pure-g">
      <% if @for_you[0].nil? %>
      <div class="gallery_main pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"" id="gallery_main_first"><a><img></a></div>
      <% else %>
      <div class="gallery_main pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"" id="gallery_main_first"><a href="<%= product_path(@for_you[0]) %>"><%= image_tag @for_you[0].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @for_you[1].nil? %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="#"><img></a></div>
      <% else %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="<%= product_path(@for_you[1]) %>"><%= image_tag @for_you[1].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @for_you[2].nil? %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="#"><img></a></div>
      <% else %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="<%= product_path(@for_you[2]) %>"><%= image_tag @for_you[2].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @for_you[3].nil? %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="#"><img></a></div>
      <% else %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="<%= product_path(@for_you[3]) %>"><%= image_tag @for_you[3].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @for_you[4].nil? %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="#"><img></a></div>
      <% else %>
      <div class="gallery_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5""><a href="<%= product_path(@for_you[4]) %>"><%= image_tag @for_you[4].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
    </div>
  </div>
      <div class="featured_container">
      <h1>Featured Products</h1>
  <div class="pure-g">
      <% if @featured[0].nil? %>
      <div class="featured_main pure-u-1 pure-u-md-1-3 pure-u-lg-1-5" id="featured_main_first"><a><img></a></div>
      <% else %>
      <div class="featured_main pure-u-1 pure-u-md-3-5 pure-u-lg-1-5" id="featured_main_first"><a href="<%= product_path(@featured[0]) %>"><%= image_tag @featured[0].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @featured[1].nil? %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="#"><img></a></div>
      <% else %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="<%= product_path(@featured[1]) %>"><%= image_tag @featured[1].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @featured[2].nil? %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="#"><img></a></div>
      <% else %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="<%= product_path(@featured[2]) %>"><%= image_tag @featured[2].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @featured[3].nil? %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="#"><img></a></div>
      <% else %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="<%= product_path(@featured[3]) %>"><%= image_tag @featured[3].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
      <% if @featured[4].nil? %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="#"><img></a></div>
      <% else %>
      <div class="featured_other pure-u-1 pure-u-md-1-3 pure-u-lg-1-5"><a href="<%= product_path(@featured[4]) %>"><%= image_tag @featured[4].pictures.first.photo_cropped.url(:thumb), class: 'pure-img' %></a></div>
      <% end %>
    </div>
  </div>
<% end %>
