<% if !logged_in? %>
  <%= render partial: "logged_out" %>
<% else %>
  <div class="flash_notifications">
  </div>
  <div class="pure-g pad-box">
    <div class="pure-u-1 pure-u-md-1-4 fixed">
      <%= image_tag current_user.profile_picture(:thumb) %>
      <div class="pure-menu restrict-width">
        <span class="pure-menu-heading"><%= current_user.name %></span>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="<%= root_url %>" class="pure-menu-link">Feed</a></li>
          <li class="pure-menu-item"><a href="<%= edit_user_path(current_user) %>" class="pure-menu-link">Edit Profile</a></li>
          <li class="pure-menu-item"><a href="<%= followers_user_path(current_user) %>" class="pure-menu-link">Followers</a></li>
          <li class="pure-menu-item"><a href="<%= following_user_path(current_user) %>" class="pure-menu-link">Following</a></li>
          <li class="pure-menu-item"><a href="<%= groups_path %>" class="pure-menu-link">Groups</a></li>
        </ul>
      </div>
      <div id="followers" class="followers">
        <h3>Followers</h3>
        <div class="pure-g">
          <% current_user.followers.each do |follower| %>
            <div class="pure-u-1-3 pure-u-md-1-6">
              <a href="<%= user_path(follower) %>"><%= image_tag follower.profile_picture(:thumbnail), class: "pure-img" %></a>
            </div>
          <% end %>
        </div>
      </div>
      <div id="following" class="followers">
        <h3>Following</h3>
        <div class="pure-g">
          <% current_user.following.each do |follower| %>
            <div class="pure-u-1-3 pure-u-md-1-6">
              <a href="<%= user_path(follower) %>"><%= image_tag follower.profile_picture(:thumbnail), class: "pure-img" %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div id="share-form">
      <%= form_for(Share.new, url: '', html: { class: "pure-form" }) do |f| %>
        <fieldset>
          <%= f.text_field :comment, placeholder: "Share something with your followers", class: "full-width", maxlength: 140 %>
          <%= f.submit "Share", class: "align-right pure-button pure-button-primary" %>
        </fieldset>
      <% end %>
    </div>
    <div class="pure-u-1 pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="log-in log-in-form">
        <%= form_for(Micropost.new, html: { class: "pure-form" }) do |f| %>
          <fieldset>
            <%= f.text_field :content, placeholder: "Share something with your followers", class: "full-width", maxlength: 140 %>
            <%= f.submit "Post", class: "align-right pure-button pure-button-primary" %>
          </fieldset>
        <% end %>
        <div class="dropper" id="dropper">
          <%= form_for Picture.new, url: "#", html: { id: "new_micropost_picture", multipart: true, class: "dropzone"} do |f|  %>
          <% end %>
        </div>
        <%= link_to "Add Images", '', id: "show_new_picture" %>
      </div>
      <% if !params[:user].nil? %>
        <div class="pad-down">
          <a href="/"><button class="pure-button">Back to the feed</button></a>
        </div>
      <% end %>
      <div id="feed">
      <% item_number = 1 %>
      <% @feed_items.each do |item| %>
        <%= render partial: "item", object: item %>
        <% if item_number % 10 == 0 and item_number % 20 != 0 %>
          <div class="feed_item">
            <h3>For You</h3>
            <div class="pure-g">
              <% @for_you.each do |product| %>
                <div class="pure-u-1-3">
                  <%= render product %>
                </div>
              <% end %>
            </div>
          </div>
        <% elsif item_number % 20 == 0 %>
          <div class="feed_item">
            <h3>Top Products</h3>
            <div class="pure-g">
              <% @top_products.each do |product| %>
                <div class="pure-u-1-3">
                  <%= render product %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% item_number += 1 %>      
      <% end %>
      <% if !@recommended_users.nil? %>
        <div class="feed_item">
          <h3>Recommended users to follow</h3>
          <div id="user_list" class="user_list pad-box">
            <% @recommended_users.each do |user| %>
              <% if current_user.id != user[:id] and !user[:following] %>
                <div class="user">
                  <img class="pure-img" src="<%= user[:profile_picture] %>">
                  <a href="/users/<%= user[:id] %>">
                    <h4><%= user[:name] %></h4>
                  </a>
                  <% following_text = "Follow" %>
                  <% if user[:following] %>
                    <% following_text = "Unfollow" %>
                  <% end %>
                  <button class="pure-button" id="follow_<%= user[:id] %>"><%= following_text %></button>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-4">
      <h3 class="pad-box" id="activities-header">Activities</h3>
      <%= render partial: "static_pages/activities_panel" %>
      <h3 class="pad-box" id="conversation-header">Conversations</h3>
      <%= render partial: "conversations/conversations_index" %>
    </div>
  </div>
<% end %>


