<% provide(:title, "Home") %>

<% if logged_in? %>
<div class="poop"></div>
<div class="home_main">
  <h1>Are you looking to...</h1>
  
  <div class="big_home">
    <button class="thing buy">Buy</button>
    <div class="or"><h2>or</h2></div>
    <button class="thing sell">Sell</button>
  </div>
  <div class="slideshow_home">
    <img class="next_home" src="http://calvarytherock.org/images/next2.png">
    <img class="prev_home" src="http://www.hko.gov.hk/m/nowcast/images/previous.png">
    <div class="toggles_home">
      <div class="container_home">
	<% for i in 1..3 %>
	<div class="circle_home"></div>
	<% end %>
      </div>
    </div>
  </div>
  <div class="featured">
    <h1 class="featured_header">Featured Products</h1>
    <div class="gallery_home">
      <% @products.each do |prod| %>
      <div class="product_home">
	<div class="image_container_home">
	  <%= image_tag prod.picture_url(:thumb), class: "product_image_home" %>
	  <button class="quick_view_home">Quick View</button>
	</div>
	<h3 class="product_name_home"><%= prod.commodity %></h3>
	<h4 class="product_price_home"><%= prod.price %></h4>
      </div>
      <% end %>
    </div>
  </div>
  <div class="top">
    <h1 class="top_header">Top Products</h1>
    <div class="gallery_home">
      <% @top_products.each do |prod| %>
      <div class="product_home">
	<div class="image_container_home">
	  <%= image_tag prod.picture_url(:thumb), class: "product_image_home" %>
	  <button class="quick_view_home">Quick View</button>
	</div>
	<h3 class="product_name_home"><%= prod.commodity %></h3>
	<h4 class="product_price_home"><%= prod.price %></h4>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% else %>
<div class="poop"></div>
<div class="home_main">
  <h1>Are you looking to...</h1>
  <br>

  <div class="big_home">
    <button class="thing buy">Buy</button>
    <div class="or"><h2>or</h2></div>
    <button class="thing sell">Sell</button>
  </div>
  <div class="slideshow_home">
    <img class="next_home" src="http://calvarytherock.org/images/next2.png">
    <img class="prev_home" src="http://www.hko.gov.hk/m/nowcast/images/previous.png">
    <div class="toggles_home">
      <div class="container_home">
	<% for i in 1..3 %>
	<div class="circle_home"></div>
	<% end %>
      </div>
    </div>
  </div>
  <div class="featured">
    <h1 class="featured_header">Featured Products</h1>
    <div class="gallery_home">
      <% @products.each do |prod| %>
      <div class="product_home">
	<div class="image_container_home">
	  <%= image_tag prod.picture_url(:thumb), class: "product_image_home" %>
	  <button class="quick_view_home">Quick View</button>
	</div>
	<h3 class="product_name_home"><%= prod.commodity %></h3>
	<h4 class="product_price_home"><%= prod.price %></h4>
      </div>
      <% end %>
    </div>
  </div>
  <div class="top">
    <h1 class="top_header">Top Products</h1>
    <div class="gallery_home">
      <% @top_products.each do |prod| %>
      <div class="product_home">
	<div class="image_container_home">
	  <%= image_tag prod.picture_url(:thumb), class: "product_image_home" %>
	  <button class="quick_view_home">Quick View</button>
	</div>
	<h3 class="product_name_home"><%= prod.commodity %></h3>
	<h4 class="product_price_home"><%= prod.price %></h4>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
  
