<% if !logged_in? %>
<div class="sign-up">
  <div class="splash">
    <h1 class="splash-head">iGold.com</h1>
    <p class="splash-subtitle">
      Where the world trades gold.
    </p>
    <p>
      <%= link_to "Get Started", signup_url, class: 'pure-button pure-button-primary' %>
    </p>
  </div>
</div>
<h1 class="content-header">Trade gold, coins and jewelry with ease.</h1>
        <div class="pad-box pure-g">
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3>
                    Specialized marketplace
                </h3>
                <p>
                    Search Global. Shop Local. Browse online inventories of established gold sellers. Buyers can find exactly what they want, for the price they want, before arriving in store.
                </p>
            </div>
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3>
                    Sell with confidence
                </h3>
                <p>
                  Create a FREE virtual storefront connecting your products with gold buyers and sellers around the world. Having an online presence on iGold allows buyers to shop your inventory 24 hours a day.
                </p>
            </div>
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3>
                    Join the community
                </h3>
                <p>
                  Connect with buyers and sellers in the gold marketplace. Share news, learn tips, and talk about everything gold.
                </p>
            </div>
            <div class="pad-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3>
                    Powerful business tools
                </h3>
                <p>
                  Grow your business and build your brand. Promote products online with free marketing tools, and advertise directly to highly specialized consumers groups. Upgrade to iGold Pro for advanced professional analytical tools to drive your business to the next level.
                </p>  
            </div>
        </div>
        <div class="ribbon pad-box pure-g">
        <div class="pad-box pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
          <p class="no-fees">
            $0.00
          </p>
          <p class="no-fees-subheader">
            per item
          </p>
        </div>
        <div class="pure-u-1 pure-u-md-2-3 pure-u-lg-4-5">

            <h1 class="content-header">No selling or buying fees.</h1>

            <p class="no-fees-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor.
            </p>
        </div>
    </div>
    <h1 class="content-header">Take a tour.</h1>
        <div class="pad-box pure-g">
            <div class="pure-u-1 pure-u-md-1-2">

                <h3 class="content-subhead">
                    Featured products
                </h3>
                <p>
                    <% @featured.each do |product| %>
                      <%= render product %>
                    <% end %>
                </p>
            </div>
            <div class="pure-u-1 pure-u-md-1-2">
                <h3 class="content-subhead">
                    Featured stores
                </h3>
                <p>
                    <% @featured.each do |product| %>
                      <%= render product %>
                    <% end %>
                </p>
            </div>
        </div>
        <div class="pad-box pure-g">
            <div class="pure-u-1">
                <h3 class="content-subhead">
                    Most popular
                </h3>
                    <% @top_products.each do |product| %>
                      <%= render product %>
                    <% end %>
            </div>
        </div>
<% else %>
  <div class="pure-g pad-box">
    <div class="pure-u-1 pure-u-md-1-4 fixed">
      <%= image_tag current_user.profile_picture(:thumb) %>
      <div class="pure-menu restrict-width">
        <span class="pure-menu-heading"><%= current_user.name %></span>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="<%= root_url %>" class="pure-menu-link">Feed</a></li>
          <li class="pure-menu-item"><a href="<%= edit_user_path(current_user) %>" class="pure-menu-link">Edit Profile</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Followers</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Following</a></li>
        </ul>
      </div>
      <div id="followers" class="followers">
        <h3>Followers</h3>
        <div class="pure-g">
          <% current_user.followers.each do |follower| %>
            <div class="pure-u-1-3 pure-u-md-1-6">
              <a href="<%= user_path(follower) %>"><%= image_tag follower.profile_picture(:thumbnail), class: "pure-img" %></a>
            </div>
          <% end %>
        </div>
      </div>
      <div id="following" class="followers">
        <h3>Following</h3>
        <div class="pure-g">
          <% current_user.following.each do |follower| %>
            <div class="pure-u-1-3 pure-u-md-1-6">
              <a href="<%= user_path(follower) %>"><%= image_tag follower.profile_picture(:thumb), class: "pure-img" %></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-4"></div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="log-in log-in-form">
        <%= form_for(Micropost.new, html: { class: "pure-form pure-form-stacked" }) do |f| %>
          <fieldset>
            <%= f.text_field :content, placeholder: "Share something with your followers", class: "full-width", maxlength: 140 %>
            <%= f.submit "Post", class: "align-right pure-button pure-button-primary" %>
          </fieldset>
        <% end %>
      </div>
      <div id="feed">
      <% item_number = 1 %>
      <% @feed_items.each do |item| %>
        <div class="feed_item">
          <% case item.class.name %>
            <% when "Micropost" %>
              <div class="feed_micropost">
                <%= image_tag item.user.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.user.name %></h2></a>
                <p id="main_text">
                  <%= item.content %>
                </p>
                <% if item.user.id == current_user.id %>
                  <%= link_to "Edit", '', id: "edit_micropost_#{item.id}" %> <%= link_to "Delete", '', id: "delete_micropost_#{item.id}" %>
                <% end %>
            <% when "Notification" %>
              <div class="feed_notification">
                <%= image_tag item.user.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.user.name %></h2></a>
                <h3>
                  <%= item.message.html_safe %>
                </h3>
            <% when "Deal" %>
              <div class="feed_deal">
                <% if item.seller_id == current_user.id %>
                  <%= image_tag item.buyer.profile_picture(:thumbnail) %>
                  <a href="<%= user_path(item.buyer) %>"><h2><%= item.buyer.name %></h2></a>
                <% else %>
                  <%= image_tag item.seller.profile_picture(:thumbnail) %>
                  <a href="<%= user_path(item.seller) %>"><h2><%= item.seller.name %></h2></a>
                <% end %>
                <h3>
                  <%= link_to "Your deal on #{item.product.title}", item %>
                </h3>
                <%= image_tag item.product.pictures.first.photo_cropped(:thumb) %>
                <p>
                  Current status: 
                  <% if item.deal_complete %>
                    Complete
                  <% elsif item.product_received %>
                    Product Received
                  <% elsif item.payment_complete %>
                    Payment Complete
                  <% elsif item.agreement_achieved %>
                    Sale Agreed
                  <% else %>
                    This deal is still under negotiation
                  <% end %>
                </p>
            <% when "Blogpost" %>
              <div class="feed_blogpost">
                <%= image_tag item.user.profile_picture(:thumbnail) %>
                <a href="<%= user_path(item.user) %>"><h2><%= item.user.name %></h2></a>
                <h3>
                  <%= item.title %>
                </h3> 
                <p>
                  <%= item.content %>
                </p>
          <% end %>
            <p>
              <%= time_ago_in_words(item.updated_at) %> ago        
            </p>
            <% if item.class.name == "Blogpost" or item.class.name == "Micropost" %>
              <p>
                <% if current_user.likes?(item) %>
                  <%= link_to "Unlike", '', id: "like_#{item.class}_#{item.id}_#{current_user.id}" %>
                <% else %>
                  <%= link_to "Like", '', id: "like_#{item.class}_#{item.id}_#{current_user.id}" %>
                <% end %>
                <%= link_to pluralize(item.likes.count, "Like"), '', id: "likes_#{item.class}_#{item.id}_#{current_user.id}" %>
                <%= link_to pluralize(item.comments.count, "Comment"), '', id: "comments_#{item.class}_#{item.id}_#{current_user.id}" %>
              </p>
              <div id="commentsBox_#{item.class}_#{item.id}_#{current_user.id}" class="comments_box">
                <div id="likesListLarge" class="large_likes_list">
                  <% item.likes.each do |like| %>
                    <div class="like">
                      <%= image_tag like.user.profile_picture(:thumbnail), class: "pure-img" %>
                      <a href="<%= user_path(like.user) %>"><h4><%= like.user.name %></h4></a>
                      <button class="pure-button" id="follow_<%= like.user.id %>">
                        <% if current_user.following?(like.user) %>
                          Unfollow
                        <% else %>
                          Follow
                        <% end %>
                      </button>
                    </div>
                  <% end %>
                </div>
                  <div id="commentsList" class="comments_list">
                    <% item.comments.each do |comment| %>
                      <div class="comment">
                        <%= image_tag comment.user.profile_picture(:thumbnail), class: "pure-img" %>
                        <a href="<%= user_path(comment.user) %>"><h4><%= comment.user.name %></h4></a>
                        <button class="pure-button" id="follow_<%= comment.user.id %>">
                          <% if current_user.following?(comment.user) %>
                            Unfollow
                          <% else %>
                            Follow
                          <% end %>
                        </button>
                        <p>
                          <%= comment.comment %>
                        </p>
                        <p>
                          <%= time_ago_in_words(comment.updated_at) %> ago
                        </p>
                        <p>
                          <% if current_user.likes?(comment) %>
                            <%= link_to "Unlike", '', id: "like_#{comment.class}_#{comment.id}_#{current_user.id}" %>
                          <% else %>
                            <%= link_to "Like", '', id: "like_#{comment.class}_#{comment.id}_#{current_user.id}" %>
                          <% end %>
                          <%= link_to pluralize(comment.likes.count, "Like"), '', id: "likes_#{comment.class}_#{comment.id}_#{current_user.id}" %>
                        </p>                      
                      </div>
                    <% end %>
                      <fieldset class="pure-form pure-form-stacked">
                      <%= text_field_tag name: "comment", placeholder: "Comment on this", class: "full-width" %>
                      <button id="<%= "commentForm_" + item.class.to_s + "_" + item.id.to_s + "_" + current_user.id.to_s %>" class="align-right pure-button pure-button-primary">Comment</button>
                      </fieldset>
                  </div>
              </div>
              <ul id="likesList_#{item.class}_#{item.id}_#{current_user.id}" class="likes_list">
                <% item.likes.each do |like| %>
                  <li><%= like.user.name %></li>
                <% end %>
              </ul>
            <% end %>
          </div> 
        </div>
        <% if item_number % 10 == 0 and item_number % 20 != 0 %>
          <div class="feed_item">
            <h3>For You</h3>
            <div class="pure-g">
              <% @for_you.each do |product| %>
                <div class="pure-u-1-3">
                  <%= render product %>
                </div>
              <% end %>
            </div>
          </div>
        <% elsif item_number % 20 == 0 %>
          <div class="feed_item">
            <h3>Top Products</h3>
            <div class="pure-g">
              <% @top_products.each do |product| %>
                <div class="pure-u-1-3">
                  <%= render product %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% item_number += 1 %>      
      <% end %>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 fixed">
      <h3 class="pad-box">Conversations</h3>
      <%= render partial: "conversations/conversations_index" %>
    </div>
  </div>
<% end %>


