<div class="pure-g log-in">
  <div class="pure-u-1 pure-u-md-1-3"></div>
    <div class="pure-u-1 pure-u-md-1-3 log-in-form">
      <%= form_for(@user, url: password_reset_path(params[:id]), html: {class: "pure-form pure-form-stacked"}) do |f| %>
      <fieldset>
        <legend>Reset password</legend>

          <%= render 'shared/error_messages', object: f.object %>
      
          <%= hidden_field_tag :email, @user.email %>
      
          <%= f.password_field :password, placeholder: 'Password' %>
       
          <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>

          <%= f.submit "Update password", class: "pure-button pure-button-primary" %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
