<div class="status_feed">
  <!--<p>Your demand for <%= status.commodity.downcase %> is <%= time_ago_in_words(status.created_at) %> old</p>-->
  <h4><%= status.commodity %></h4>
  <p>Posted <%= time_ago_in_words(status.created_at) %> ago</p>
  <p>Minimum Buying Price: $<%= status.minPrice %></p>
  <p>Maximum Buying Price: $<%= status.maxPrice %></p>
  <p>Location: <%= status.full_street_address %></p>
  <p>Travel Range: <%= status.toTravel %> miles</p>
  <p>Description/Keywords: <%= status.description %></p>
  <div class="status_a">
    <%= link_to "View", status %>
    <%= link_to "Scan Matches", matches_status_path(status) %>
    <%= link_to "Destroy", status, method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
