<div class="status_feed">
  <!--<p>Your demand for <%= status.commodity.downcase %> is <%= time_ago_in_words(status.created_at) %> old</p>-->
  <center><h4><%= status.commodity %></h4></center>
  <center><p><span class="posted">Posted <%= time_ago_in_words(status.created_at) %> ago</span></p></center>
  <p><span class="label">Minimum Buying Price: </span><span class="gold">$<%= status.minPrice %></span></p>
  <p><span class="label">Maximum Buying Price: </span><span class="gold">$<%= status.maxPrice %></span></p>
  <p><span class="label">Location: </span><span class="gold"><%= status.full_street_address %></span></p>
  <p><span class="label">Travel Range: </span><span class="gold"><%= status.toTravel %> miles</span></p>
  <p><span class="label">Description/Keywords: </span><span class="gold"><%= status.description %></span></p>
  <center><div class="status_a">
    <%= link_to "View", status %>
    <%= link_to "Scan Matches", matches_status_path(status) %>
    <%= link_to "Destroy", status, method: :delete, data: { confirm: "Are you sure?" } %>
  </div></center>
</div>
