<% provide(:title, "Search Results") %>
<div class="toggle_options">
  <div class="option">
    <h2>Sort By</h2>
      <select id="sort" onchange='setGetParameter("sort_by", document.getElementById("sort").value);'>
        <option value="relevance">Relevance</option>
        <option value="low">Price: Low to High</option>
        <option value="high">Price: High to Low</option>
      </select> 
    <h2>Commodity</h2>
    <p>
    <% @commodities.rows.each do |facet| %>
      <%= facet.value %> (<%= facet.count %>): <input type="checkbox" name="commodity" value="<%= facet.value %>"><br>
    <% end %>
    </p>
    <h2>Price</h2>
    <p>
    <% @prices.rows.each do |facet| %>
      <%= number_to_currency(facet.value.to_s.split('..')[0]) %> - <%= number_to_currency(facet.value.to_s.split('..')[1]) %> (<%= facet.count %>): <input type="checkbox" name="price" value="<%= facet.value %>">
    <% end %>
    </p>
  </div>
</div>
<div class="search_results">
  <% @results.each do |prod| %>
    <div class="result">
      <div class="image_container_search">
        <%= image_tag prod.picture_url(:thumb), class: "product_image_search" %>
      </div>
      <div class="info_container">
        <%= link_to prod.title, prod, class: "title_link" %>          
        <h3><%= number_to_currency(prod.price) %></h3>
      </div>
    </div>
  <% end %>
  <%= will_paginate @results %>
</div>

