<% provide(:title, "Search Results") %>
<div class="container">
  <div class="toggle_options">
    <div class="option">
      <h2>Sort By</h2>
      <select id="sort" class="searchpage" >
        <option value="relevance">Relevance</option>
        <option value="low">Price: Low to High</option>
        <option value="high">Price: High to Low</option>
      </select> 
      <h2>Category</h2>
      <p>
	<% @categories.rows.each do |facet| %>
	<%= Category.find(facet.value).name %> (<%= facet.count %>): <input type="checkbox" name="category_id" value="<%= facet.value %>" class="toggle"><br>
	<% end %>
      </p>
      <h2>Price</h2>
      <p>
        <form class="price">
         $<input type="text" name="price_lower" value="<%= params[:price_lower].to_i %>"></input> to $<input type="text" name="price_upper" value="<%= params[:price_lower].to_i %>"></input>
          <button>Go</button>
        </form>
      </p>
    <% if !@category_options.nil? %>
      <h2>Toggle Options</h2>
      <p>
	<% @category_options.each do |category_option| %>
	<div class="category">
	  <% thing = category_option.name.gsub(" ", "_") %>
          <h3 class="options_dropdown_name <%= thing %>"><%= category_option.name %></h3>
	  <div class="attr_short attr_active">
            <% category_option.attribute_options[0...1].each do |attr| %>
	    <%= attr.value %>: <input type="checkbox" name="attribute_option_id" value="<%= attr.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	  <div class="attr_long">
	    <% len = category_option.attribute_options.length %>
	    <% category_option.attribute_options[1...(len)].each do |attr| %>
	    <%= attr.value %>: <input type="checkbox" name="attribute_option_id" value="<%= attr.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	</div>
	<% end %>
      </p>
    <% else %>
      <h2>Select a category to sort</h2>
      <% end %>

      <p>
	<div class="selling_methods">
	  <h3 class="options_dropdown_name Selling_Method">Selling Method</h3>
	  <div class="attr_short attr_active">
	    <% @selling_methods[0...2].each do |method| %>
	    <%= method.method %>: <input type="checkbox" name="selling_method_id" value="<%= method.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	  <div class="attr_long">
	    <% @selling_methods[2...@selling_methods.length].each do |method| %>
	    <%= method.method %>: <input type="checkbox" name="selling_method_id" value="<%= method.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	</div>
      </p>

      <p>
	<div class="payment_methods">
	  <h3 class="options_dropdown_name Payment_Method">Payment Method</h3>
	  <div class="attr_short attr_active">
	    <% @payment_methods[0...2].each do |method| %>
	    <%= method.method %>: <input type="checkbox" name="payment_method_id" value="<%= method.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	  <div class="attr_long">
	    <% @payment_methods[2...@payment_methods.length].each do |method| %>
	    <%= method.method %>: <input type="checkbox" name="payment_method_id" value="<%= method.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	</div>
      </p>

      <p>
	<div class="exchange_methods">
	  <h3 class="options_dropdown_name Exchange_Method">Exchange Method</h3>
	  <div class="attr_short attr_active">
	    <% @exchange_methods[0...2].each do |method| %>
	    <%= method.method %>: <input type="checkbox" name="exchange_method_id" value="<%= method.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	  <div class="attr_long">
	    <% @exchange_methods[2...@exchange_methods.length].each do |method| %>
	    <%= method.method %>: <input type="checkbox" name="exchange_method_id" value="<%= method.id %>" class="toggle"><br>
	    <% end %>
	  </div>
	</div>
      </p>
      
      
    </div>
  </div>
  <div class="search_results">
    <% @results.each do |prod| %>
    <div class="result">
      <div class="image_container_search">
        <%= if !prod.pictures.first.nil?
              image_tag prod.pictures.first.photo_cropped(:thumb), class: "product_image_search" 
          end
        %>
      </div>
      <div class="info_container">
        <%= link_to prod.title, prod, class: "title_link" %>          
        <h3><%= number_to_currency(prod.price) %></h3>
        <h4>Location: <%= Geocoder.address([prod.latitude, prod.longitude]) %></h4>
        <% if logged_in? %>
        <h4>Distance from me: <%= prod.distance_to(current_user, :mi).round(1) %> Miles</h4>
        <% else %>
        <h4>Distance from me: <%= prod.distance_to([request.location.latitude, request.location.longitude], :mi).round(1) %> Miles</h4>
        <% end %>
      </div>
    </div>
    <% end %>
    <%= will_paginate @results %>
  </div>
</div>
