<% provide(:title, "Search Results") %>
<div class="toggle_options">
  <div class="option">
    <h2>Commodity</h2>
    <p>
    <% @commodities.rows.each do |facet| %>
      <%= facet.value %> (<%= facet.count %>): <input type="checkbox" name="commodity" value="<%= facet.value %>"><br>
    <% end %>
    </p>
  </div>
</div>
<div class="search_results">
  <% @results.each do |prod| %>
    <div class="result">
      <div class="image_container_search">
        <%= image_tag prod.picture_url(:thumb), class: "product_image_search" %>
      </div>
      <div class="info_container">
        <%= link_to prod.title, prod, class: "title_link" %>          
        <h3><%= number_to_currency(prod.price) %></h3>
      </div>
    </div>
  <% end %>
  <%= will_paginate @results %>
</div>

