<div class="conversations_indexing">
  <% @conversations.each do |conversation| %>
    <div class="convo_index_page">
      <a href="<%= conversations_url(id: conversation.id) %>">
        <p>
          <% if conversation.first_user_id == current_user.id %>
            <%= image_tag conversation.second_user.profile_picture(:thumbnail) %>
            <%= conversation.second_user.name %>
          <% else %>
            <%= image_tag conversation.first_user.profile_picture(:thumbnail) %>
            <%= conversation.first_user.name %>
          <% end %>
          <br>
          <% message = conversation.messages.order(created_at: :desc).limit(1).first %>
          <%= message.content.truncate(20) %>
          <br>
          <%= time_ago_in_words(conversation.updated_at) + " ago" %>
        </p>
        <%= hidden_field_tag :conversation_id, conversation.id, class: 'conversation_id' %>
        <%= hidden_field_tag :myname, current_user.name, class: 'myname' %>
      </a>
    </div>
  <% end %>
  <% if @conversations.first.nil? %>
    <h3>You have no active conversations.</h3>
  <% end %>
</div>

