<div class="convo_thing log-in-form">
  <div id="messages" class="massage_container">
    <ul class="massages"></ul>
  </div>
  <div class="form_fields">
    <%= form_for @msg, :html => { :id => 'message_form' } do |f| %>
      <%= f.hidden_field :sender_id, value: current_user.id %>
      <% first_user_id = @conversation.first_user_id %>
      <% second_user_id = @conversation.second_user_id %>
      <% if current_user.id == first_user_id %>
        <% other = second_user_id %>
      <% else %>
        <% other = first_user_id %>
      <% end %>
      <%= f.hidden_field :other_id, value: other %>
      <%= f.text_field :content, class: "form_input", id: "message_input", placeholder: "Write your message here..." %>
      <%= f.submit "Send", class: "pure-button pure-button-primary send_message", id: "message_submit" %>
    <% end %>
  </div>
  <%= hidden_field_tag :conversation_id, @conversation.id %>
</div>
