
    <%= form_for(@store,  html: { multipart: true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      

      <%= f.text_field :name, class: 'form_input', placeholder: 'Store name' %>
      <br>

      <%= f.label :profile_photo, "Store Profile Picture" %>
      <%= f.file_field :profile_photo, class: 'file' %>
      <br>
      
      <%= f.text_field :full_street_address, class: 'form_input', placeholder: 'Store location' %>
      <br>
      
      <%= f.telephone_field :phone, class: 'form_input', placeholder: 'Business phone number' %>
      <br>
      
      <%= f.text_area :description, class: 'form_input', placeholder: 'Give a description for your store' %>
      <br>
      
      <h1>What are the hours of operation for your store?</h1>
      <br>
      
      <%= f.check_box :mondayopen %>
      <span><b>Select if you're open on Mondays</b></span>
      <br>
      
      <%= f.check_box :tuesdayopen %>
      <span><b>Select if you're open on Tuesdays</b></span>
      <br>
      
      <%= f.check_box :wednesdayopen %>
      <span><b>Select if you're open on Wednesdays</b></span>
      <br>
      
      <%= f.check_box :thursdayopen %>
      <span><b>Select if you're open on Thursdays</b></span>
      <br>
      
      <%= f.check_box :fridayopen %>
      <span><b>Select if you're open on Fridays</b></span>
      <br>
      
      <%= f.check_box :saturdayopen %>
      <span><b>Select if you're open on Saturdays</b></span>
      <br>
      
      <%= f.check_box :sundayopen %>
      <span><b>Select if you're open on Sundays</b></span>
      <br>
      
      <%= f.submit "Save store", class: "form_submit" %>

    <% end %>


