<div class="pure-g pad-box">
  <div class="pure-u-1">
    <h1 class="pad-header">All Stores</h1>
  </div>

  <div class="pure-u-1 pad-box">
    <%= form_tag "/stores", method: "get", class: 'pure-form' do %>
      <%= text_field_tag "search_string", "", placeholder: "Search for a store", autocomplete: 'off', class: 'search_string' %>
      <%= submit_tag "Search", class: 'pure-button pure-button-primary' %>
    <% end %>
  </div>
    
  <div class="pure-u-1">
    <%= will_paginate %>
  </div>

  <%= render @stores %>

  <div class="pure-u-1">
    <%= will_paginate %>
  </div>
</div>
