<% provide(:title, @store.name) %>
<div class="storefront_gallery">
  <div class="storefront_nav">
    <div class="storefront_nav_within">
      <button class="gallery_button"><a href="#gallery">Products</a></button>
      <button class="about_button"><a href="#about">About</a></button>
      <button class="contact_button"><a href="#contact">Contact</a></button>
      <button class="blog_button"><a href="#blog">Blog</a></button>
    </div>
  </div>
  <div class="store_title">
	<h1><%= @store.name %> <%= link_to "Edit", edit_store_url(@store) if current_user?(@store.user) %></h1>
  </div>
  <div class="store_within store_gallery_within store_active">
    <h3>Featured Products</h3>
    <% @products.each do |prod| %>
      <div class="store_prod">
        <div class="image_container">
          <%= image_tag prod.picture_url(:thumb), class: "store_prod_image" %>
	  <button class="quick_view">Quick View</button>
	</div>
        <h3 class="store_prod_name"><%= prod.commodity %></h3>
        <h4 class="store_prod_price"><%= prod.price %></h4>
      </div>
    <% end %>
  </div>
  <div class="store_within store_blog_within store_inactive">
    <h3>Blog <%= link_to "New", new_blogpost_url if current_user?(@store.user) %></h3>
    <% @store.blogposts.each do |post| %>
      <h4><%= post.title %>
        <% if current_user?(post.store.user) %>
       	  <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %> | <%= link_to "Edit", edit_blogpost_path(post) %>
      	<% end %>
      </h4>
      <p><%= post.content %></p>
    <% end %>
  </div>
  <div class="store_within store_contact_within store_inactive">
    <div "store_contact_container">
      <div class="contact_left">
	<h3>Contact Information</h3>
	<h4>Phone: <%= @store.phone %></h4>
	<h4>Email: <%= @store.user.email %></h4>
	<h4><%= @store.full_street_address %></h4>
	<br>
	<h4>Feel free to message me at any time!</h4>
      </div>
      <div class="contact_right">
	<input type="text" class="contact_name" placeholder="name">
	<input type="text" class="contact_email" placeholder="email">
	<input type="subject" class="contact_subject" placeholder="subject">
	<textarea class="contact_message" placeholder="Write your message here..."></textarea>
	<input type="submit" class="btn btn-success">
      </div>
    </div>
  </div>
  <div class="store_within store_about_within store_inactive">
    <div class="store_about_container">
      <div class="about_left">
	<h3 class="store_about">About</h3>
	<p class="store_description"><%= @store.description %></p>
	<% if @store.faqs.any? %>
		<h4 class="faq_header">FAQ <%= link_to "New", new_faq_path if current_user?(@store.user) %></h4>
		<% @store.faqs.each do |faq| %>
		    <h5 class="faq_question"><%= faq.question %>
        <% if current_user?(faq.store.user) %>
			  <%= link_to "Delete", faq, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
			  | <%= link_to "Edit", edit_faq_path(faq) %>
      <% end %>
			</h5>
			<p><%= faq.answer %></p>
		<% end %>
	<% else %>
		<h4 class="faq_header"><%= link_to "New FAQ", new_faq_path if current_user?(@store.user) %></h4>
	<% end %>
      </div>
      <div class="about_right">
	<h3 class="store_location"><%= @store.full_street_address %></h3>
	<%= image_tag @store.profile_photo_url, class: "store_profile_picture" %>
	<h3 class="hoursofoperation">Hours of Operation <%= link_to "Edit", edit_times_store_url(@store) if current_user?(@store.user) %></h3>
	<div class="hours">
	  <p>
      Monday: <% if @store.mondayopen %>
      <%= @store.mondaystarthour %>:<%= @store.mondaystartminute %> <%= @store.mondaystartampm %> --> <%= @store.mondayendhour %>:<%= @store.mondayendminute %> <%= @store.mondayendampm %>
      <% else %>
      Closed
      <% end %>
      <br>Tuesday: <% if @store.tuesdayopen %>
      <%= @store.tuesdaystarthour %>:<%= @store.tuesdaystartminute %> <%= @store.tuesdaystartampm %> --> <%= @store.tuesdayendhour %>:<%= @store.tuesdayendminute %> <%= @store.tuesdayendampm %>
      <% else %>
      Closed
      <% end %>
      <br>Wednesday: <% if @store.wednesdayopen %>
      <%= @store.wednesdaystarthour %>:<%= @store.wednesdaystartminute %> <%= @store.wednesdaystartampm %> --> <%= @store.wednesdayendhour %>:<%= @store.wednesdayendminute %> <%= @store.wednesdayendampm %>
      <% else %>
      Closed
      <% end %>
      <br>Thursday: <% if @store.thursdayopen %>
      <%= @store.thursdaystarthour %>:<%= @store.thursdaystartminute %> <%= @store.thursdaystartampm %> --> <%= @store.thursdayendhour %>:<%= @store.thursdayendminute %> <%= @store.thursdayendampm %>
      <% else %>
      Closed
      <% end %>
      <br>Friday: <% if @store.fridayopen %>
      <%= @store.fridaystarthour %>:<%= @store.fridaystartminute %> <%= @store.fridaystartampm %> --> <%= @store.fridayendhour %>:<%= @store.fridayendminute %> <%= @store.fridayendampm %>
      <% else %>
      Closed
      <% end %>
      <br>Saturday: <% if @store.saturdayopen %>
      <%= @store.saturdaystarthour %>:<%= @store.saturdaystartminute %> <%= @store.saturdaystartampm %> --> <%= @store.saturdayendhour %>:<%= @store.saturdayendminute %> <%= @store.saturdayendampm %>
      <% else %>
      Closed
      <% end %>
      <br>Sunday: <% if @store.sundayopen %>
      <%= @store.sundaystarthour %>:<%= @store.sundaystartminute %> <%= @store.sundaystartampm %> --> <%= @store.sundayendhour %>:<%= @store.sundayendminute %> <%= @store.sundayendampm %>
      <% else %>
      Closed
      <% end %>
    </p>
	</div>
      </div>
    </div>
  </div>
</div>
