<div id="share-form">
<%= form_for(Share.new, url: '', html: { class: "pure-form pure-form-stacked" }) do |f| %>
        <fieldset>
          <%= f.text_field :comment, placeholder: "Share something with your followers", class: "full-width", maxlength: 140 %>
          <%= f.submit "Share", class: "align-right pure-button pure-button-primary" %>
        </fieldset>
      <% end %>
</div>
<div class="storefront_gallery">
  <div class="pure-menu pure-menu-horizontal store-menu">
    <ul class="pure-menu-list">
      <li class="pure-menu-item gallery_butt"><a href="#gallery" class="pure-menu-link">Products</a></li>
      <li class="pure-menu-item about_butt"><a href="#about" class="pure-menu-link">About</a></li>
      <li class="pure-menu-item contact_butt"><a href="#contact" class="pure-menu-link">Contact</a></li>
      <li class="pure-menu-item blog_butt"><a href="#blog" class="pure-menu-link">Blog</a></li>
    </ul>
  </div>
  <h1 class="store_header"><%= @store.name %> <%= link_to "Edit", edit_store_url(@store) if current_user?(@store.user) %></h1>
<div class="shares">
  <%= link_to pluralize(@store.shares.count, "Share"), '', id: "shares_#{@store.class}_#{@store.id}_#{current_user.id}" %>
  </div>  
  <!--GALLERY--->
  <div class="store_within store_gallery_within">
    <div class="pure-g log-in">
      <div class="pure-u-1 store-divider">
	<div class="inner">
	  <h3>Featured Products</h3>
	  <% @products.each do |prod| %>
	  <div class="pure-u-md-1-5 pure-u-1">
      <%= render prod %> 
	  </div>
	  <% end %>
	</div>
      </div>
    </div>
  </div>

  <!--BLOG-->
  <div class="store_within store_blog_within store_inactive">
    <div class="pure-g">
      <div class="pure-u-md-1-2 blog_header">
	<h1>Blog <% if current_user?(@store.user) %></h1><a href="<%= new_blogpost_url %>"><button class="pure-button pure-button-primary">New</button></a><% end %>
      </div>
    </div>
    <% @store.blogposts.each do |post| %>
    <div class="pure-g pad log-in">
      <div class="pure-u-md-1 pure-u-1 pad log-in-form">
	<h2 class="post-title"><%= post.title %></h2>
	<p class="post-meta">By <%= post.user.name %></p>
	
	<div class="post-description">
	  <p><%= post.content %></p>
	</div>
	<h4>
	  <% if current_user?(post.user) %>
	  <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %> | <%= link_to "Edit", edit_blogpost_path(post) %>
	</h4>
	<% end %>
	</div>
      </div>
    <% end %>
  </div>

  <!--CONTACT-->
  <div class="store_within store_contact_within store_inactive">
    <div "store_contact_container">
      <div class="pure-g log-in">
	<div class="pure-u-1 pure-u-md-1-2 store-divider">
	  <div class="inner">
	    <h3>Contact Information</h3>
	    <h4>Phone: <%= @store.phone %></h4>
	    <h4>Email: <%= @store.user.email %></h4>
	    <h4>Location: <%= @store.full_street_address %></h4>
	  </div>
	</div>
	<div class="pure-u-1 pure-u-md-1-2 store-divider">
	  <div class="inner">
	    <h3>Message this user</h3>
	    <%= form_for @message do |f| %>
	    <%= f.hidden_field :sender_id, value: current_user.id %>
	    <%= f.hidden_field :other_id, value: @store.user.id %>
      <%= f.hidden_field :group_id, value: "" %>
	    <%= f.text_area :content, class: "message_input", placeholder: "Send a message" %>
	    <br>
	    <%= f.submit "Send message", class: "form_submit pure-button pure-button-primary" %>
	    <% end %>
	  </div>
	</div>
      </div>
    </div>
  </div>

  <!--ABOUT-->
  <div class="store_within store_about_within store_inactive">
    <div class="store_about_container">
      <div class="pure-g log-in">
	<div class="pure-u-1 pure-u-md-1-2 store-divider">
	<div class="inner">
	<h2 class="store_about">About <%= @store.name %></h2>
	<p class="store_description">Store Description: <%= @store.description %></p>
	<% if @store.faqs.any? %>
		<h3 class="faq_header">FAQ <%= link_to "New", new_faq_path if current_user?(@store.user) %></h4>
		<% @store.faqs.each do |faq| %>
		    <h4 class="faq_question"><%= faq.question %>
        <% if current_user?(faq.store.user) %>
			  <%= link_to "Delete", faq, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
			  | <%= link_to "Edit", edit_faq_path(faq) %>
      <% end %>
			</h4>
			<h5 class="faq_answer"><%= faq.answer %></h5><br><br>
		<% end %>
	<% else %>
		<h4 class="faq_header"><%= link_to "New FAQ", new_faq_path if current_user?(@store.user) %></h4>
	<% end %>
</div>
</div>
<div class="pure-u-1 pure-u-md-1-2 store-divider">
  <div class="inner">
	<h3 class="store_location"><%= @store.full_street_address %></h3>
	<%= image_tag @store.profile_picture(:thumb), class: "store_profile_picture" %>
	<h3 class="hoursofoperation">Hours of Operation <%= link_to "Edit", edit_times_store_url(@store) if current_user?(@store.user) %></h3>
	<% if @store.valid_times %>
	<div class="hours">
	  <p>
      Monday: <% if @store.mondayopen %>
      <%= @store.mondaystarthour %>:<%= sprintf "%02d", @store.mondaystartminute %> --> <%= @store.mondayendhour %>:<%= sprintf "%02d", @store.mondayendminute %>
      <% else %>
      Closed
      <% end %>
      <br>Tuesday: <% if @store.tuesdayopen %>
      <%= @store.tuesdaystarthour %>:<%= sprintf "%02d", @store.tuesdaystartminute %> --> <%= @store.tuesdayendhour %>:<%= sprintf "%02d", @store.tuesdayendminute %>
      <% else %>
      Closed
      <% end %>
      <br>Wednesday: <% if @store.wednesdayopen %>
      <%= @store.wednesdaystarthour %>:<%= sprintf "%02d", @store.wednesdaystartminute %> --> <%= @store.wednesdayendhour %>:<%= sprintf "%02d", @store.wednesdayendminute %>
      <% else %>
      Closed
      <% end %>
      <br>Thursday: <% if @store.thursdayopen %>
      <%= @store.thursdaystarthour %>:<%= sprintf "%02d", @store.thursdaystartminute %> --> <%= @store.thursdayendhour %>:<%= sprintf "%02d", @store.thursdayendminute %>
      <% else %>
      Closed
      <% end %>
      <br>Friday: <% if @store.fridayopen %>
      <%= @store.fridaystarthour %>:<%= sprintf "%02d", @store.fridaystartminute %> --> <%= @store.fridayendhour %>:<%= sprintf "%02d", @store.fridayendminute %>
      <% else %>
      Closed
      <% end %>
      <br>Saturday: <% if @store.saturdayopen %>
      <%= @store.saturdaystarthour %>:<%= sprintf "%02d", @store.saturdaystartminute %> --> <%= @store.saturdayendhour %>:<%= sprintf "%02d", @store.saturdayendminute %>
      <% else %>
      Closed
      <% end %>
      <br>Sunday: <% if @store.sundayopen %>
      <%= @store.sundaystarthour %>:<%= sprintf "%02d", @store.sundaystartminute %> --> <%= @store.sundayendhour %>:<%= sprintf "%02d", @store.sundayendminute %>
      <% else %>
      Closed
      <% end %>
    </p>
    <%= link_to "Edit opening days", edit_store_path(@store) if current_user == @store.user %>
	</div>
	<% else %>
	<p>Store hasn't updated their hours of operation</p>
	<% end %>
  <h3 class="hoursofoperation">Allowed upon transaction payment methods</h3>
  <% if @store.user.payment_upon_transactions.count > 0 %>
    <p>
      <% @store.user.payment_upon_transactions.each do |transaction| %>
        <%= transaction.method %><br>
      <% end %>
    </p>
  <% end %>
	</div>
     </div>
</div>
									
    </div>
  </div>
</div>
