
<div class="notification">
<% if notification.viewed %>
<p class="read"><a href="<%= notification.url %>"><%= notification.message.html_safe %></a><br>Posted <%= notification.created_at.strftime("%A") + ", " + notification.created_at.strftime("%m/%d/%y") + " " + notification.created_at.strftime("at %I:%M%p") %></p>
<% else %>
<p class="not_read"><a href="<%= notification.url %>"><%= notification.message.html_safe %></a><br>Posted <%= notification.created_at.strftime("%A") + ", " + notification.created_at.strftime("%m/%d/%y") + " " + notification.created_at.strftime("at %I:%M%p") %></p>
<% end %>
<%= hidden_field_tag :id, notification.id, {class: "notification_id"} %>
</div>

