
<div class="notification">
<% if notification.viewed %>
<p class="read"><%= notification.message.html_safe %><br>Posted <%= notification.created_at.strftime("%A") + ", " + notification.created_at.strftime("%m/%d/%y") + " " + notification.created_at.strftime("at %I:%M%p") %></p>
<% else %>
<p class="not_read"><%= notification.message.html_safe %><br>Posted <%= notification.created_at.strftime("%A") + ", " + notification.created_at.strftime("%m/%d/%y") + " " + notification.created_at.strftime("at %I:%M%p") %></p>
<% end %>
<%= form_for(notification, html: { class: "notification_seen"}) do |f| %>
<%= f.hidden_field :read, :value => true %>
<%= f.hidden_field :id, value: notification.id, class: 'notification_id' %>
<% end %>

<%= form_for(notification, html: { class: "notification_viewed"}) do |f| %>
  <%= f.hidden_field :viewed, :value => true %>
  <%= f.hidden_field :id, value: notification.id, class: "notification_id" %>
<% end %>
</div>

