<% if group.members.any? %>
<div class="group_user_list">
  <input type="hidden" value="<%= group.id %>" id="group_id"></input>
  <% group.members.each do |member| %>
    <div class="user">   
      <%= image_tag member.user.profile_picture(:thumbnail), class: "pure-img" %>
      <a href="<%= user_path(member.user) %>"><h4><%= member.user.name %></h4></a>
      <% if current_user?(group.user) and !current_user?(member.user) %>
        <button class="pure-button" id="groupadd_<%= member.user.id %>">
          Remove
        </button>
      <% end %>
      <button class="pure-button" id="follow_<%= member.user.id %>">
        <% if current_user.following?(member.user) %>
          Unfollow
        <% elsif current_user.id == member.user.id %>
          Me
        <% else %>
          Follow
        <% end %>
      </button>
    </div>
  <% end %>
</div>
<% else %>
  <h3>This group has no users</h3>
<% end %>
