<div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-5">
  <div class="product">
    <%= link_to image_tag(user.profile_picture(:thumb)), user %>
    <div class="product-info">
      <%= link_to user.name, user %>
      <h3>Products sold: <%= Deal.where("seller_id=? AND deal_complete=?", user.id, true).count %></h3>
      <h3>Products bought: <%= Deal.where("buyer_id=? AND deal_complete=?", user.id, true).count %></h3>
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
	      data: { confirm: "You sure?" } %>
      <% end %>
      <p>
        <button class="pure-button" id="follow_<%= user.id %>">
          <% if current_user.following?(user) %>
            Unfollow
          <% elsif current_user.id == user.id %>
            Me
          <% else %>
            Follow
          <% end %>
        </button>
      </p>
    </div>
  </div>
</div>
