<li>
  <%= image_tag user.profile_picture %>
  <%= link_to user.name, user %>
  <h3>Products sold: <%= Deal.where("seller_id=? AND deal_complete=?", user.id, true).count %></h3>
  <h3>Products bought: <%= Deal.where("buyer_id=? AND deal_complete=?", user.id, true).count %></h3>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
	data: { confirm: "You sure?" } %>
  <% end %>
</li>
