<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :profile_picture, "Upload Profile Picture" %>
      <%= f.file_field :profile_picture, class: 'file' %>
      <br>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control'  %>
      
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :full_street_address, "Full Street Address" %>
      <%= f.text_field :full_street_address, class: 'form-control' %>

      <%= f.label :interests, "Interests" %>
      <%= f.text_field :interests, class: 'form-control' %>

      <%= f.label :identifies_as, "Identify as" %>
      <%= f.text_field :identifies_as, class: 'form-control' %>

      <%= f.label :default_delivery_cost, "Planning on delivering products to your customers? Add a default delivery cost." %>
      <%= f.number_field :default_delivery_cost, class: 'form-control' %>

      <%= f.label :public, class: "checkbox inline" do %>
        <%= f.check_box :public %>
	<span><b>Public user?</b></span>
      <% end %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
