<% provide(:title, 'Sign up') %>

<div class="form_fields">
  <h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :profile_picture, "Upload Profile Picture" %>
      <%= f.file_field :profile_picture, class: 'file' %>
      <br>
      
      <%= f.text_field :name, class: 'form_input', placeholder: 'Your name' %>
      <br>
      
      <%= f.email_field :email, class: 'form_input', placeholder: 'Email'  %>
      <br>
      
      <%= f.password_field :password, class: 'form_input', placeholder: 'Password' %>
      <br>
      
      <%= f.password_field :password_confirmation, class: 'form_input', placeholder: 'Password Confirmation' %>
      <br>
      
      <%= f.text_field :full_street_address, class: 'form_input', placeholder: 'Full Street Address' %>
      <br>
      
      <%= f.text_field :interests, class: 'form_input', placeholder: 'What are you interested in on iGold?' %>
      <br>
      
      <%= f.text_field :identifies_as, class: 'form_input', placeholder: 'Are you a buyer, seller, or both?' %>
      <br>
      
      <%= f.label :default_delivery_cost, "Planning on delivering products to your customers? Add a default delivery cost." %>
      <%= f.number_field :default_delivery_cost, class: 'form_input', placeholder: 'Default delivery cost' %>
      <br>
      
      <%= f.check_box :public %>
      <span><b>Public user?</b></span>
      <br>
      
      <%= f.submit "Create my account", class: "form_submit" %>
    <% end %>
  </div>
</div>
