<% provide(:title, @user.name) %>
<% unless @user.profile_picture.nil? %>
<%= image_tag @user.profile_picture_url(:thumb), class: "pro_pic" %><br>
<% end %>
<h1><%= @user.name %></h1>
<h3><%= link_to "Edit Page", edit_user_path(@user.id) if current_user?(@user) %></h3>
<br>
<div id="description">
  <p><%= @user.description %><p>
    <% if @user == current_user %>
    <%= link_to "Edit your description", edit_description_user_path(@user.id) %>
    <% end %>
</div>
<p>Products sold: <%= @user.products_sold %></p>
<p>Products bought: <%= @user.products_bought %></p>
<p>Identifies as: <%= @user.identifies_as %></p>
<p>Location: <%= @user.full_street_address %></p>
<p>Interests: <%= @user.interests %></p>
<h1>Stores</h1>
<% if current_user.id == @user.id %>
<%= link_to "Add Store", new_store_path %>
<% end %>
<% if @user.stores.length > 0 %>
<% @user.stores.each do |store| %>
<%= link_to store.name, store %>
<% end %>
<% else %>
<p>This user has no stores</p>
<% end %>
<div class="user_gallery">
<h1>Product Gallery <%= link_to "New Product", new_product_url if current_user?(@user) %></h1>
<% @user.products.each do |prod| %>
  <a href="<%= product_path(prod.id) %>">
  <div class="store_prod">
    <div class="image_container">
    <% if !prod.pictures.first.nil? %>
      <%= image_tag prod.pictures.first.photo_cropped(:thumb), class: "store_prod_image" %>
    <% end %>
    <button class="quick_view">Quick View</button>
  </div>
  <h3 class="store_prod_name"><%= prod.category.name %></h3>
  <h4 class="store_prod_price"><%= number_to_currency(prod.price) %></h4>
</div>
</a>
<% end %>
</div>
<h1>Blog <%= link_to "New", new_blogpost_url if current_user?(@user) %></h1>
<% @user.blogposts.each do |post| %>
<div class="post">
  <h4><%= post.title %>
    <% if current_user?(post.user) %>
    <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %> | <%= link_to "Edit", edit_blogpost_path(post) %>
    <% end %>
  </h4>
  <p><%= post.content %></p>
</div>
<% end %>

<h3>Message this user</h3>
<div class="form_fields">
  <%= form_for @message do |f| %>
  <%= f.hidden_field :sender_id, value: current_user.id %>
  <%= f.hidden_field :other_id, value: @user.id %>
  <%= f.text_area :content, class: "form_input", placeholder: "Send a message" %>
  <br>
  <%= f.submit "Send message", class: "form_submit" %>
  <% end %>
</div>
