<div class="pure-g pad-box user_top">
  <div class="pure-u-md-1-3 pure-u-1 pad-box">
    <h1><%= @user.name %></h1>
    <%= image_tag @user.profile_picture(:thumb), class: "pure-img" %>
    <p>
      <button class="pure-button" id="follow_<%= @user.id %>">
        <% if current_user.following?(@user) %>
          Unfollow
        <% elsif current_user.id == @user.id %>
          Me
        <% else %>
          Follow 
        <% end %>
      </button>
      <a href="/?user=<%= @user.id %>"><button class="pure-button">See this user's posts</button></a>
    </p>
    <% if !current_user?(@user) %>
      <div class="log-in no-padding">
        <h2>Message this user</h2>
        <%= form_for @message do |f| %>
          <%= f.hidden_field :sender_id, value: current_user.id %>
          <%= f.hidden_field :other_id, value: @user.id %>
          <%= f.hidden_field :group_id, value: "" %>
          <%= f.text_area :content, class: "message_input", placeholder: "Send a message" %>
          <br>
          <%= f.submit "Send message", class: "form_submit pure-button pure-button-primary" %>
        <% end %>
      </div>
    <% end %>
    <div class="settings-menu pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <% if logged_in? && current_user?(@user) %>
	        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
	          <a href="#" id="menuLink1" class="pure-menu-link">Settings</a>
	          <ul class="pure-menu-children">
	            <li class="pure-menu-item"><%= link_to "Edit description", edit_description_user_path(@user.id), class: "pure-menu-link" %></li>
	            <li class="pure-menu-item"><%= link_to "Default transaction methods", edit_default_preferences_user_path(@user.id), class: "pure-menu-link" %></li>
	            <li class="pure-menu-item"><%= link_to "Change address", edit_address_user_path(@user.id), class: "pure-menu-link" %></li>
              <li class="pure-menu-item"><%= link_to "Change profile picture", change_profile_picture_user_path(@user.id), class: "pure-menu-link" %></li>
              <li class="pure-menu-item"><%= link_to "Update profile", edit_user_path(@user.id), class: "pure-menu-link" %></li>
              <li class="pure-menu-item"><%= link_to "Change password", reset_password_user_path(@user.id), class: "pure-menu-link" %></li>
	          </ul>
	        </li>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Gallery images</a>
            <ul class="pure-menu-children">
              <li class="pure-menu-item"><%= link_to "Upload gallery image", new_picture_user_path(@user.id), class: "pure-menu-link" %></li>
              <li class="pure-menu-item"><%= link_to "Current gallery images", pictures_user_path(@user.id), class: "pure-menu-link" %></li>
            </ul>
          </li>
        <% end %>
        <% if @user.stores.length == 0 %>
          <% if logged_in? && current_user?(@user) %>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <%= link_to "Add store", new_store_path, class: "pure-menu-link" %>
            </li>
          <% end %>
        <% else %>
          <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">Stores</a>
            <ul class="pure-menu-children">
              <% @user.stores.each do |store| %>
                <li class="pure-menu-item"><%= link_to store.name, store, class: "pure-menu-link" %></li>
              <% end %>
              <% if logged_in? && current_user?(@user) %>
                <li class="pure-menu-item"><%= link_to "Add store", new_store_path, class: "pure-menu-link" %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  
  <div class="pure-u-md-1-3 pure-u-1 pad-box">
    <h1>User Details</h1>
    <p><%= @user.description %></p>
    <p>Products sold: <%= Deal.where("deal_complete = ? and seller_id = ?", true, @user.id).count %></p>
    <p>Products bought: <%= Deal.where("deal_complete = ? and buyer_id = ?", true, @user.id).count %></p>
    <p>Location: <%= @user.location_string %></p>

  </div>
  <div class="pure-u-md-1-3 pure-u-1 pad-box">
    <div class="stores">
      <h1>Reviews</h1>
    </div>
    <div class="reviews_list pad-box">
      <%= render partial: "reviews/index" %>
    </div>
  </div>
</div>

<div class="pure-g pad-box">
  <div class="pure-u-1 pad-box">
    <h1>Product Gallery</h1>
  </div>
  <% if current_user?(@user) %>
  <div class="pure-u-1 pad-box">
    <a href="<%= new_product_url %>">
    <button class="pure-button pure-button-primary">New Product</button></a>
  </div>
  <% end %>
  <% @products.each do |prod| %>
  <div class="pure-u-md-1-5 pure-u-1">
    <%= render prod %>
  </div>
  <% end %>
</div>
<% if current_user?(@user) %>
  <h1 class="pad-box">Draft Products</h1>
  <div class="pure-g pad-box">
    <% @draft_products.each do |product| %>
      <div class="pure-u-md-1-5 pure-u-1 pad-box">
        <%= render product %>
      </div>
    <% end %>
  </div>
<% end %>
<div class="pure-g pad-box">
  <div class="pure-u-md-1-2 pure-u-1 pad-box">
    <% if current_user?(@user) %><a href="<%= new_blogpost_url %>"><button class="pure-button pure-button-primary">New Blogpost</button></a><% end %>
    <% if @user.blogposts.any? %>
      <h1>Blog</h1>
      <% @user.blogposts.each do |post| %>
        <h2 class="post-title"><%= post.title %></h2>
        <p class="post-meta">By <%= post.user.name %></p>

        <div class="post-description">
          <p><%= post.content %></p>
        </div>
        <h4>
          <% if current_user?(post.user) %>
            <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %> | <%= link_to "Edit", edit_blogpost_path(post) %>
          <% end %>
        </h4>
      <% end %>
    <% end %>
  </div>

  <div class="pure-u-md-1-2 pure-u-1 pad-box"></div>
</div>
