<div class="pure-g pad-box user_top">
  <div class="pure-u-md-1-3 pure-u-1 pad-box">
    <h1><%= @user.name %></h1>
    <% unless @user.profile_picture.nil? %>
    <%= image_tag @user.profile_picture(:thumb), class: "pure-img" %><br>
    <% end %>
  </div>
  <div class="pure-u-md-1-3 pure-u-1 pad-box">
    <h1>User Details</h1>
    <p><%= @user.description %></p>
      <% if @user == current_user %>
      <%= link_to "Edit your description", edit_description_user_path(@user.id) %>
      <br>
      <%= link_to "Edit default selling, payment, and exchange methods", edit_default_preferences_user_path(@user.id) %>
      <% end %>
    <p>Reputation: <%= @user.score %>% positive reviews</p>
    <p>Products sold: <%= Deal.where("deal_complete = ? and seller_id = ?", true, @user.id).count %></p>
    <p>Products bought: <%= Deal.where("deal_complete = ? and buyer_id = ?", true, @user.id).count %></p>
    <p>Identifies as: <%= @user.identifies_as %></p>
    <p>Location: <%= @user.full_street_address %></p>
  </div>
  <div class="pure-u-md-1-3 pure-u-1 pad-box">
    <h1>Stores</h1>
    <% if current_user.id == @user.id %>
    <%= link_to "Add Store", new_store_path %>
    <% end %>
    <% if @user.stores.length > 0 %>
    <% @user.stores.each do |store| %>
    <%= link_to store.name, store %>
    <% end %>
    <% else %>
    <p>This user has no stores</p>
    <% end %>
  </div>
</div>

<div class="pure-g pad-box">
  <div class="pure-u-1 pad-box">
    <h1>Product Gallery</h1>
  </div>
  <% if current_user?(@user) %>
  <div class="pure-u-1 pad">
    <a href="<%= new_product_url %>">
    <button class="pure-button pure-button-primary">New Product</button></a>
  </div>
  <% end %>
  <br><br>
</div>
<div class="pad-box pure-g">
  <% @products.each do |prod| %>
  <div class="pure-u-md-1-5 pure-u-1">
    <%= render prod %>
  </div>
  <% end %>
</div>
<div class="pure-g pad-box">
  <div class="pure-u-md-1-2 pure-u-1 pad-box">
    <h1>Blog <% if current_user?(@user) %></h1><a href="<%= new_blogpost_url %>"><button class="pure-button pure-button-primary">New</button></a><% end %>
    <% @user.blogposts.each do |post| %>
    <h2 class="post-title"><%= post.title %></h2>
    <p class="post-meta">By <%= post.user.name %></p>

    <div class="post-description">
      <p><%= post.content %></p>
    </div>
    <h4>
      <% if current_user?(post.user) %>
      <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure?" } %> | <%= link_to "Edit", edit_blogpost_path(post) %>
      <% end %>
    </h4>
    <% end %>

  </div>

  <div class="pure-u-md-1-2 pure-u-1 pad-box">
    <% if current_user != @user %>
      <h2>Message this user</h2>
      <%= form_for @message do |f| %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.hidden_field :other_id, value: @user.id %>
        <%= f.text_area :content, class: "message_input", placeholder: "Send a message" %>
        <br>
        <%= f.submit "Send message", class: "form_submit pure-button pure-button-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
