<h1 class="pad-header">Wishlist</h1>
<div class="pure-g pad-box">
  <div class="pure-u-1">
    <% if !@saved_products.any? %>
      <h3 class="header-up">You have no products in your wishlist</h3>
    <% end %>
    <% @saved_products.each do |saved| %>
      <% prod = saved.product %>
      <div class="result">
        <% if !prod.pictures.first.nil? %>
          <a class="magnifier" href="<%= prod.pictures.first.photo_cropped(:large) %>">
            <%= image_tag prod.pictures.first.photo_cropped(:thumb), class: "product_image_search" %>
          </a>
        <% end %>
        <div class="result_info">
          <a href = "<%= product_url(prod) %>"><h2><%= prod.title %></h2></a>
          <h3><%= number_to_currency(prod.price) %></h3>
          <h4>Location: <%= prod.location_string %></h4>
          <h4>Distance from me: <%= prod.distance_to(current_user, :mi).round(1) %> Miles</h4>
        </div>
        <button class="pure-button pure-button-primary" id="save_product_<%= prod.id %>_<%= current_user.id %>">Remove</button>
      </div>
    <% end %>
  </div>
</div>
