<!-- Idea: -->

<!-- (CASE 1) Delivery and paypal: -->
<!-- Buyer knows if product is dispatched or not -->
<!-- Seller knows if buyer has paid for product or not -->
<!-- Buyer can pay, or set product received to true -->
<!-- After all this, set satifised to true -->


<!-- (CASE 2) Paypal and meetup/pickup -->
<!-- buyer has to pay -->
<!-- then they notify us when the other stuff is done -->

<!-- (CASE 3) Meetup/pickup without paypall -->
<!-- They notify us when they're done -->


<% if ((current_user.id  == @deal.seller_id) and @deal.agreement_achieved and !@deal.deal_complete and !@deal.seller_satisfied) %>
  <% if @deal.exchange_method.method == "Delivery" %>
    <%= form_for @deal do |f| %>
      <%= f.hidden_field :product_dispatched, value: !@deal.product_dispatched %> 
      <%= f.submit "Set product dispatched to #{!@deal.product_dispatched}", class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>

  <% if @deal.payment_method.method != "Paypal" and !@deal.seller_satisfied %>
    <%= form_for @deal do |f| %>
      <%= f.hidden_field :payment_complete, value: !@deal.payment_complete %>
      <%= f.submit "Set payment received to #{!@deal.payment_complete}", class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>

  <% if (@deal.payment_complete and @deal.product_received and !@deal.deal_complete) %>
    <%= form_for @deal do |f| %>
      <%= f.hidden_field :seller_satisfied, value: !@deal.seller_satisfied %>
      <%= f.submit "Set satisfied with completed deal to #{!@deal.seller_satisfied}", class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>
<% end %>

<% if ((current_user.id == @deal.buyer_id) and @deal.agreement_achieved and !@deal.deal_complete) %>
  <% if !@deal.buyer_satisfied %>
    <%= form_for @deal do |f| %>
      <%= f.hidden_field :product_received, value: !@deal.product_received %>
      <%= f.submit "Set product received to #{!@deal.product_received}", class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>

  <% if (@deal.product_received and @deal.payment_complete and !@deal.deal_complete) %>
    <%= form_for @deal do |f| %>
      <%= f.hidden_field :buyer_satisfied, value: !@deal.buyer_satisfied %>
      <%= f.submit "Set satisfied with completed deal to #{!@deal.buyer_satisfied}", class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>
<% end %>


<% if @deal.agreement_achieved and !@deal.deal_complete %>
  <!-- CASE 1 -->
  <% if @deal.exchange_method.method == "Delivery" %>
    <% if current_user.id == @deal.buyer_id %>
      <% if !@deal.buyer_satisfied %>
        <% if @deal.product_dispatched %> 
          <h3>Product has been dispatched to you.</h3>
        
          <% if !@deal.product_received %>
            <%= form_for @deal do |f| %>
              <%= f.hidden_field :product_received, value: true %>
              <%= f.submit "I have received the product.", class: "pure-button pure-button-primary" %>
            <% end %>   
          <% else %>
            <%= form_for @deal do |f| %>
              <%= f.hidden_field :product_received, value: false %>
              <%= f.submit "I have not received the product.", class: "pure-button pure-button-primary" %>
            <% end %>
          <% end %>     

        <% else %>
          <h3>Product has not yet been dispatched to you.</h3>
        <% end %>
        <% if !@deal.payment_complete %>
          <h3>You have not yet paid for the product.</h3>
          <%= render 'paypal_form' %>
        <% end %>
        
        <% if @deal.product_recieved && @deal.payment_complete %>
          <%= form_for @deal do |f| %>
            <%= f.hidden_field :buyer_satisfied, value: true %>
            <%= f.submit "The deal is complete and I am satisfied.", class: "pure-button pure-button-primary" %>
          <% end %>
        <% end %>
      <% else %>
        <%= form_for @deal do |f| %>
          <%= f.hidden_field :buyer_satisfied, value: false %>
          <%= f.submit "The deal is not complete and I am not yet satisfied.", class: "pure-button pure-button-primary" %>
        <% end %>  
      <% end %>
    <% end %>
  
    <% if current_user.id == @deal.seller_id %>
      <% if !@deal.seller_satisfied %>
        <% if @deal.payment_complete %>
          <h3>Buyer has paid for the product.</h3>
        <% else %>
          <h3>Buyer has not yet paid for the product.</h3>
        <% end %>
        <% if !@deal.product_dispatched %>
          <h3>You have not yet dispatched the product.</h3>
          <%= form_for @deal do |f| %>
            <%= f.hidden_field :product_dispatched, value: true %>
            <%= f.submit "Mark product as dispatched.", class: "pure-button pure-button-primary" %>
          <% end %>
        <% else %>
          <h3>You have dispatched the product.</h3>
          <% if @deal.product_received %>
            <h3>The buyer has received it.</h3>
          <% else %>
            <h3>The buyer has not received it.</h3>
          <% end %>
          <!-- Has the buyer received the product? -->
          <%= form_for @deal do |f| %>
            <%= f.hidden_field :product_dispatched, value: false %>
            <%= f.submit "Unmark product as dispatched.", class: "pure-button pure-button-primary" %>
          <% end %>
        <% end %>
        <% if @deal.product_received && @deal.payment_complete %>
          <%= form_for @deal do |f| %>
            <%= f.hidden_field :seller_satisfied, value: false %>
            <%= f.submit "The deal is not complete and I am not satisfied.", class: "pure-button pure-button-primary" %>
          <% end %>
        <% end  %>
      <% else %>
        <%= form_for @deal do |f| %>
          <%= f.hidden_field :seller_satisfied, value: false %>
          <%= f.submit "The deal is not complete and I am not satisfied.", class: "pure-button pure-button-primary" %>  
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <!-- END CASE 1 -->


<% end %>

<% review = @deal.reviews.where("user_id = ?", current_user.id).first %>
<% if review.nil? && @deal.deal_complete %>
  <%= link_to "Leave a review of this deal", new_review_url(@deal) %>
<% end %>


<% if (!review.nil? && @deal.product_received && @deal.payment_complete && @deal.deal_complete) %>
  <h3>Congrats, you have successfully completed your deal!</h3>
<% end %>
