<tr>
  <td><%= deal.updated_at.to_formatted_s(:long_ordinal) %></td>
  <td>
    <a href="<%= deal_path(deal) %>">
      <% if !deal.product.main_picture_id.nil? %>
        <%= image_tag deal.product.pictures.find(deal.product.main_picture_id).photo_cropped(:thumb), class: "product_image pure-img" %>
      <% else %>
        <%= image_tag deal.product.pictures.first.photo_cropped(:thumb), class: "product_image pure-img" %>
      <% end %>
      <h3><%= deal.product.title %></h3>
    </a>
  </td>
  <td><%= deal.buyer.name if current_user?(deal.seller) %><%= deal.seller.name if current_user?(deal.buyer) %></td>
  <td><%= deal.exchange_method.method unless deal.exchange_method.nil? %></td>
  <td><%= deal.payment_method.method unless deal.payment_method.nil? %></td>
  <td>
    <% if (!deal.selling_method.nil? and deal.selling_method.id == 3 and !deal.proposed_price_accepted) %>
      You need to agree on a price
    <% end %>
    <% if (!deal.exchange_agreement_buyer or !deal.exchange_agreement_seller) %>
      You need to agree on an exchange method
    <% end %>
    <% if (deal.agreement_achieved and !deal.payment_complete) %>
      The seller has not received his payment
    <% end %>
    <% if (deal.payment_complete and !deal.product_received) %>
      The buyer has not received his purchased product
    <% end %>
    <% if (deal.payment_complete and deal.product_received) %>
      <% if deal.deal_complete && !deal.reviews.where("user_id = ?", current_user.id).first.nil? %>
        Deal complete and successful
      <% elsif deal.deal_complete %>
        <%= link_to "Please submit a review for this deal", new_review_url(deal) %>
      <% else %>
        The product and payment have been received by respective parties but parties aren't completely satisfied
      <% end %>
    <% end %>
  </td>
</tr>
