<!-- Migrate all text information to instructions page -->
<% if !@deal.proposed_price_accepted && @deal.selling_method.method == "Negotiation" %>

<% elsif @deal.agreement_achieved %>
  <% if (@deal.exchange_method.method == "Delivery" || @deal.exchange_method.method == "Pickup") && current_user == @deal.buyer && !@deal.deal_complete %>
    <%= form_for @deal do |f| %>
      <%= f.hidden_field :exchange_agreement_buyer, value: false %>
      <%= f.submit "Unconfirm exchange agreement", class: "pure-button pure-button-primary deals_form_button" %>
    <% end %>
  <% end %> 

<% else %> <!-- We're on exchange methods -->
  <% if !@deal.exchange_method_id.nil? && @deal.exchange_method.method == "Pickup" %>
    <% if current_user.id == @deal.seller_id %>
    <% elsif current_user.id == @deal.buyer_id %>
      <%= form_for @deal do |f| %>
        <%= f.hidden_field :exchange_agreement_buyer, value: true %>
        <%= f.submit "Confirm agreement", class: "pure-button pure-button-primary deals_form_button" %>
      <% end %>
    <% end %>
  <% elsif !@deal.exchange_method_id.nil? && @deal.exchange_method.method == "Delivery" %>
    <% if current_user.id == @deal.seller_id %>
      <% if !@deal.dropoff.nil? %>
      <% else %>
      <% end %>
      <!-- Should sellers be able to change delivery cost here? -->
    <% elsif current_user.id == @deal.buyer_id %>
      <% if !@deal.dropoff.nil? %>
        <h3>Your location for delivery: <%= @deal.dropoff %></h3>
      <% end %>
      <%= form_for @deal do |f| %>
        <h3>Dropoff location: <%= f.text_field :dropoff %> <%= f.submit "Change delivery location", class: "pure-button pure-button-primary deals_form_button_in_header" %></h3>
      <% end %>
      <%= form_for @deal do |f| %>
        <%= f.hidden_field :exchange_agreement_buyer, value: true %>
        <%= f.submit "Confirm delivery agreement", class: "pure-button pure-button-primary deals_form_button" %>
      <% end %>
    <% end %>
  <% elsif !@deal.exchange_method_id.nil? && @deal.exchange_method.method == "Meetup" %>
    <% if current_user.id == @deal.seller_id %>
      <% if !@deal.exchange_agreement_seller %>
        <%= form_for @deal do |f| %>
          <%= f.hidden_field :exchange_agreement_seller, value: true %>
          <%= f.submit "Confirm meetup agreement", class: "pure-button pure-button-primary deals_form_button" %>
        <% end %>
      <% else %>
        <%= form_for @deal do |f| %>
          <%= f.hidden_field :exchange_agreement_seller, value: false %>
          <%= f.submit "Unconfirm meetup agreement", class: "pure-button pure-button-primary deals_form_button" %>
        <% end %>
      <% end %>
    <% elsif current_user.id == @deal.buyer_id %>
      <% if !@deal.exchange_agreement_buyer %>
        <%= form_for @deal do |f| %>
          <%= f.hidden_field :exchange_agreement_buyer, value: true %>
          <%= f.submit "Confirm meetup agreement", class: "pure-button pure-button-primary deals_form_button" %>
        <% end %>
      <% else %>
        <%= form_for @deal do |f| %>
          <%= f.hidden_field :exchange_agreement_buyer, value: false %>
          <%= f.submit "Unconfirm meetup agreement", class: "pure-button pure-button-primary deals_form_button" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
