<%= hidden_field_tag :updated_at, @deal.updated_at.to_i %>
<!-- First, must select methods -->
<!-- Second, must agree on a price -->
<!-- Third, must agree on an exchange method -->
<!-- Fourth, completion -->
<% buyer = (current_user.id == @deal.buyer_id) %>
<% seller = (current_user.id == @deal.seller_id) %>
<% if @deal.selling_method_id.nil? || @deal.exchange_method_id.nil? || @deal.payment_method_id.nil? %>
  <%= hidden_field_tag :page, 1 %>
  <% if buyer %>
    <h3>You need to select the methods of transaction.</h3>
  <% end %>
  <% if seller %>
    <h3>The buyer needs to select the methods of transaction.</h3>
  <% end %>


<% elsif @deal.proposed_price_accepted == false %>
  <%= hidden_field_tag :page, 2 %>
  <% if buyer %>
    <% if @deal.user_proposed_price.nil? %>
      <h3>You need to propose a price.</h3>
    <% else %>
      <h3>The seller has not accepted your proposed price. Feel free to communicate with the seller with messaging.</h3>
    <% end %>
  <% end %>

  <% if seller %>
    <% if @deal.user_proposed_price.nil? %>
      <h3>The user still needs to propose a price.</h3>
    <% else %>
      <h3>You still need to agree on a price with the buyer. Feel free to communicate with the seller with messaging.</h3>
    <% end %>
  <% end %>

<% elsif !@deal.agreement_achieved %>
  <%= hidden_field_tag :page, 3 %>
  <% if @deal.exchange_method.method == "Pickup" %>
    <% if current_user.id == @deal.seller_id %>
      <h3>Waiting for the the buyer to confirm the agreement.</h3>
    <% elsif current_user.id == @deal.buyer_id %>
      <h3>You will need to pick up the product from the seller at <%= @deal.product.full_street_address %>.</h3>
      <h3>The store's hours of operation and other relevant information can be found <%= link_to "here", store_path(@deal.product.store, :anchor => "about") %></h3>
    <% end %>
  <% elsif @deal.exchange_method.method == "Delivery" %>
    <% if current_user.id == @deal.seller_id %>
      <% if !@deal.dropoff.nil? %>
        <h3>The current dropoff location is <%= @deal.dropoff %>, but the buyer has not confirmed the agreement</h3>
      <% else %>
        <h3>Waiting for the seller to list a dropoff location.</h3>
      <% end %>
      <!-- Should sellers be able to change delivery cost here? -->
    <% elsif current_user.id == @deal.buyer_id %>
      <h3>The product will be delivered to you for <%= number_to_currency(@deal.product.delivery_cost) %></h3>
    <% end %>
  <% elsif @deal.exchange_method.method == "Meetup" %>
    <% if current_user.id == @deal.seller_id %>
      <h3>Agree with the buyer on a transaction location and time in messaging.</h3>
    <% elsif current_user.id == @deal.buyer_id %>
      <h3>Agree with the seller on a transaction location and time in messaging.</h3>
    <% end %>
  <% end %>  
  <h3 id="deal_summary">Deal Summary</h3>
  <ul id="deal_summary_list">
    <li class="deal_summary_bullet">Price: <%= number_to_currency(@deal.user_proposed_price) %></li>
    <% if @deal.exchange_method.method == "Pickup" %>
      <li class="deal_summary_bullet">The buyer will pick the product up at <%= @deal.product.full_street_address %></li>
    <% elsif @deal.exchange_method.method == "Delivery" %>
      <li class="deal_summary_bullet">The seller will ship the product to <%= @deal.dropoff %> for <%= number_to_currency(@deal.product.delivery_cost) %>.</li>
    <% elsif @deal.exchange_method.method == "Meetup" %>
      <li class="deal_summary_bullet">Buyer and seller will meet up at the time and location they agreed upon in chat.</li>
    <% end %>
    <% if @deal.payment_method.method == "Paypal" %>
      <li class="deal_summary_bullet">The buyer will pay for the product using Paypal.</li>
    <% elsif @deal.payment_method.method == "Upon Transaction" %>
      <li class="deal_summary_bullet">The buyer will pay for the product upon transaction.</li>
    <% end %>
    <h6>Note: you will not be allowed to cancel the deal after an agreement has been achieved.</h6>
  </ul> 

<% elsif @deal.agreement_achieved %>
  <%= hidden_field_tag :page, 4 %>
  <% if !@deal.deal_complete %>
    <% if @deal.payment_complete && @deal.product_received %> <!-- Confirm successful deal. -->
      <% if current_user.id == @deal.seller_id && @deal.seller_satisfied %>
        <h3>You are satisfied with the deal. Waiting for buyer for completion.</h3>
      <% end %>
      <% if current_user.id == @deal.buyer_id && @deal.buyer_satisfied %>
        <h3>You are satisfied with the deal. Waiting for seller for completion.</h3>
      <% end %>
    <% else %>
      <% if @deal.exchange_method.method == "Delivery" %>
        <% if current_user.id == @deal.seller_id %>
          <% if @deal.product_dispatched %>
            <% if @deal.product_received %>
              <h3>The buyer has received the product but has not yet completed the payment.</h3>
            <% else %>
              <h3>You have dispatched the product but the buyer has not yet received it.</h3>
            <% end %>
          <% else %>
            <h3>You have not yet dispatched the product to the buyer.</h3>
            <h3>The dropoff location is <%= @deal.dropoff %>.</h3>
          <% end %>
          <% if @deal.payment_complete %>
            <h3>The user has completed his payment for the product.</h3>
          <% else %>
            <h3>The user has not completed his payment for the product.</h3>
          <% end %>
        <% elsif current_user.id == @deal.buyer_id %>
          <% if @deal.product_dispatched %>
            <% if @deal.product_received %>
              <h3>You have received the product.</h3>
            <% else %>
              <h3>The seller has dispatched the product to you.</h3>
            <% end %>
          <% else %>
            <h3>The product hasn't yet been dispatched to you.</h3>
          <% end %>
          <% if @deal.payment_complete %>
            <h3>You have completed the payment.</h3>
          <% else %>
            <h3>You have not completed the payment.</h3>
          <% end %>
        <% end %>
      <% elsif (@deal.exchange_method.method == "Pickup" || @deal.exchange_method.method == "Meetup") %>  
        <% if !@deal.payment_method_id.nil? && @deal.payment_method.method == "Paypal" %>
          <% if current_user.id == @deal.seller_id %>
            <% if @deal.payment_complete %>
              <h3>The buyer has completed his payment but has not picked up the product.</h3>
            <% else %>
              <h3>The buyer has completed has not completed the payment.</h3>
              <% if @deal.product_received %>
                <h3>The buyer has picked up the product.</h3>
              <% else %>
                <h3>The buyer has not picked up the product.</h3>
              <% end %>
            <% end %>
          <% elsif current_user.id == @deal.buyer_id %>
            <% if @deal.payment_complete %>
              <h3>You have completed your payment but you have not received your product.</h3>
              <% if @deal.exchange_method.method == "Pickup" && !@deal.product_received %>
                <h3>You will need to pick up the product from the seller at <%= @deal.product.full_street_address %>.</h3>
                <h3>The store's hours of operation and other relevant information can be found <%= link_to "here", store_path(@deal.product.store, :anchor => "about") %></h3>
              <% elsif @deal.exchange_method.method == "Meetup" && !@deal.product_received %>
                <h3>Meet the seller at the location you agreed upon.</h3>
              <% end %>
            <% else %>
              <h3>You have not completed your payment.</h3>
              <% if @deal.product_received %>
                <h3>You have received your product.</h3>
              <% else %>
                <h3>You have not received your product.</h3>
                <% if @deal.exchange_method.method == "Pickup" %>
                  <h3>You will need to pick up the product from the seller at <%= @deal.product.full_street_address %>.</h3>
                  <h3>The store's hours of operation and other relevant information can be found <%= link_to "here", store_path(@deal.product.store, :anchor => "about") %></h3>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% if current_user.id == @deal.seller_id %>
            <% if !@deal.payment_complete %>
              <h3>Let us know when you receive your payment.</h3>
            <% else %>
              <h3>The payment is complete.</h3>
            <% end %>
          <% elsif current_user.id == @deal.buyer_id %>
            <% if @deal.product_received %>
              <h3>You have received your product.</h3>
            <% else %>
              <h3>Let us know when you receive your product.</h3>
            <% end %>
            <% if @deal.exchange_method.method == "Pickup" && !@deal.product_received %>
              <h3>You will need to pick up the product from the seller at <%= @deal.product.full_street_address %>.</h3>
              <h3>The store's hours of operation and other relevant information can be found <%= link_to "here", store_path(@deal.product.store, :anchor => "about") %></h3>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>    
  <% else %> <!-- deal complete -->
    <% review = @deal.reviews.where("user_id = ?", current_user.id).first %>
    <% if review.nil? %>
      <h3>Please fill out a review to indicate your satisfaction on this completed deal.</h3> 
    <% else %>
      <h3>Congratulations on your successfully completed deal.</h3>
    <% end %>      
    
  <% end %>    
<% end %>
