
<%= hidden_field_tag :need_exchange, @need_exchange %>
<% if @deal.buyer.id == current_user.id && !@deal.agreement_achieved %>
<% if @deal.product.selling_method_links.count > 1 or @deal.product.exchange_method_links.count > 1 or @deal.product.payment_method_links.count > 1 %>
<%= form_for @deal, html: {class: "methods"} do |f| %>
<p>Selling Methods (choose one)</p>
<% @deal.product.selling_method_links.each do |s| %>
<%= f.label :selling_method, "#{s.selling_method.method}", class: "deal_selling_label pure-radio" %>
<%= f.radio_button :selling_method_id, s.selling_method.id, class: "deal_selling pure-radio deal_radio" %>
<% end %>
<p>Exchange Methods (choose one) </p>
<% @deal.product.exchange_method_links.each do |e| %>
<%= f.label :exchange_method, "#{e.exchange_method.method}", class: "deal_exchange_label pure-radio" %>
<%= f.radio_button :exchange_method_id, e.exchange_method.id, class: "deal_exchange deal_radio pure-radio" %>
<% end %>
<p>Payment Methods (choose one)</p>
<% @deal.product.payment_method_links.each do |p| %>
<%= f.label :payment_method, "#{p.payment_method.method}", class: "deal_payment_label pure-radio" %>
<%= f.radio_button :payment_method_id, p.payment_method.id, class: "deal_payment deal_radio pure-radio" %>
<% end %>
<br>
<%= f.submit "Next", class: "pure-button pure-button-primary methods_form_button" %>
<% end %>
<% else %>
<p>Selling method: <%= @deal.selling_method.method unless @deal.selling_method.nil? %></p>
<p>Exchange method: <%= @deal.exchange_method.method unless @deal.exchange_method.nil? %></p>
<p>Payment method: <%= @deal.payment_method.method unless @deal.payment_method.nil? %></p>
<% end %>
<% else %>
<% if !SellingMethodLink.where("selling_method_id IN (?,?) AND product_id=?", 3, 4, @deal.product.id) %>
<%= form_for @deal.product do |f| %>
<h3>Minimum Accepted Price: <%= f.number_field :min_accepted_price %><%= f.submit "Change", class: "pure-button pure-button-primary deals_form_button" %></h3>
<% end %>
<% end %>
<h3>The user has selected these transaction methods:</h3>
<% if @deal.selling_method_id.nil? %>
<h4>The buyer has not selected a selling method.</h4>
<% else %>
<h4>Selling Method: <%= @deal.selling_method.method %></h4>
<% end %>
<% if @deal.exchange_method_id.nil? %>
<h4>The buyer has not selected an exchange method.</h4>
<% else %>
<h4>Exchange Method: <%= @deal.exchange_method.method %></h4>
<% end %>
<% if @deal.payment_method_id.nil? %>
<h4>The buyer has no selected a payment method.</h4>
<% else %>
<h4>Payment Method: <%= @deal.payment_method.method %></h4>
<% end %>
<% end %>
