<% payment_method = @deal.payment_method unless @deal.payment_method_id.nil? %>
<% if !payment_method.nil? %>
<h2>Payment Method: <%= payment_method.method %></h2>
<% end %>
<% if !@deal.payment_method.nil? %>
<% if @deal.payment_method.method == "Paypal" && @deal.seller_id != current_user.id && @deal.agreement_achieved? && !@deal.payment_complete? %>
<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="<%= @deal.seller.email %>">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="item_name" value="<%= @deal.product.title %>">
  <input type="hidden" name="item_number" value="<%= @deal.id %>">
  <input type="hidden" name="amount" value="<%= @deal.user_proposed_price %>">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="button_subtype" value="services">
  <input type="hidden" name="no_note" value="0">
  <input type="hidden" name="tax_rate" value="0.000">
  <input type="hidden" name="return" value="<%= request.original_url %>">
  <input type="hidden" name="rm" value="1">
  <% if !@deal.dropoff.nil? %>
  <% location = Geocoder.search @deal.dropoff %>
  <input type="hidden" name="address_override" value="1">
  <input type="hidden" name="address1" value="<%= location[0].street_address %>">
  <input type="hidden" name="country" value="<%= location[0].country %>">
  <input type="hidden" name="city" value="<%= location[0].city %>">
  <input type="hidden" name="zip" value="<%= location[0].postal_code %>">
  <input type="hidden" name="state" value="<%= location[0].state_code %>">
  <% else %>
  <input type="hidden" name="no_shipping" value="1">
  <% end %>
  <input type="hidden" name="notify_url" value="<%= root_url +  "payments" %>">
  <input type="hidden" name="shipping" value="<%= @deal.product.delivery_cost %>">
  <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
<% end %>
<% end %>
