<%= hidden_field_tag :factor, @factor %>
<div class="picture">
  <div class="modal-body">
    <%= image_tag @picture.photo(:original), :id => "image", :class => "my_cropper_img" %>
  </div>
  
  <%= form_tag add_cropped_picture_path(@picture.id), :method => "Post" %>
  <%= hidden_field_tag :x, 0 %>
  <%= hidden_field_tag :y, 0 %>
  <%= hidden_field_tag :width, 300 %>
  <%= hidden_field_tag :height, 300 %>
  
  <div class="submit_the_form">
    <%= submit_tag "Done cropping", class: 'pure-button pure-button-primary' %>
    <%= link_to "Delete", @picture, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
  </div>
</div>

