<div class="pure-g">
<div class="pure-u-1 pure-u-md-3-5">
<%= hidden_field_tag :factor, @factor %>
<div class="picture">
  <div class="modal-body">
    <%= image_tag @picture.photo(:original), :id => "image", :class => "my_cropper_img" %>
  </div>
  
  <%= form_tag add_cropped_picture_path(@picture.id), :method => "Post" %>
  <%= hidden_field_tag :x, 0 %>
  <%= hidden_field_tag :y, 0 %>
  <%= hidden_field_tag :width, 300 %>
  <%= hidden_field_tag :height, 300 %>
  <%= hidden_field_tag :rotate, 0 %>
  <%= hidden_field_tag :size_of_crop, 600 %>

</div>
</div>
<div class="pure-u-1 pure-u-md-2-5">
  <% if @picture.post.class.name == "Product" %>
    <% if @picture.post.main_picture_id == @picture.id %>
      Main Picture: <%= check_box_tag 'main_picture', 1, true, class: "prod_cont" %>
    <% else %>
      Main Picture: <%= check_box_tag 'main_picture', 1, false, class: "prod_cont" %>
    <% end %>
  <% end %>
  <div class="submit_the_form">
    <%= submit_tag "Done cropping", class: 'pure-button pure-button-primary' %>
    <a href="<%= picture_url(@picture.id) %>" data-method="delete" data-confirm="Are you sure?"><button class="pure-button button-error" type="button">Delete</button></a>
    <a href="<%= product_url(@picture.post) %>"><button class="pure-button button-error" type="button">Cancel</button></a>
    <br>
    <button id="rotate_ccw" class= "pure-button pure-button-primary prod_cont" type="button">Rotate counterclockwise</button>
    <button id="rotate_cw" class= "pure-button pure-button-primary prod_cont" type="button">Rotate clockwise</button>
  </div>
</div>
</div>

