<% @pictures.each do |picture| %>
<div class="picture">
  <%= image_tag picture.photo.url, id: "regular_photo"  %>
  <% if picture.photo_cropped != nil %>
  <%= image_tag picture.photo_cropped.url, id: "photo_cropped" %>
  <%= image_tag picture.photo_cropped.url(:thumb), id: "cropped_medium" %>
  <% else %>
  <h2>Cropped image will go here</h2>
  <% end %>
  <%= link_to "Delete", picture, method: :delete,
      data: { confirm: "Are you sure?" } %>
  <%= link_to "Edit", edit_picture_url(picture) %>
</div>
<% end %>
