<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@category) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: 'form-control' %><br>

      <%= f.label :parent_id, "Parent" %>
      <% if !@category.parent.nil? %>
        <%= f.select :parent_id, nested_dropdown(Category.where(:parent_id => nil), false).push(''), class: 'form-control' %><br>
      <% else %>
        <%= f.select :parent_id, nested_dropdown(Category.where(:parent_id => nil), false).push(''), :selected => "", class: 'form-control' %><br>
      <% end %>

      <%= f.label :no_of_options, "Number of Attributes" %>
      <%= f.number_field :no_of_options, class: 'form-control' %><br>
            
      <% @category.category_options.each do |option| %>
        <p>
        <%= fields_for "category_options[#{option.id}]", option do |opt| %>
          <%= opt.label :name, "Attribute Name" %>
          <%= opt.text_field :name, class: 'form-control' %>
          <%= opt.label :required, "Required?" %> 
          <%= opt.check_box :required, class: 'form-control' %>
          <%= opt.label :_delete, "Delete?" %>
          <%= opt.check_box :_delete, class: 'form-control' %>
          <%= opt.label :no_of_options, "Number of Options" %>
          <%= opt.number_field :no_of_options, class: 'form-control' %>
          <br>
        <% end %>
        <% option.attribute_options.each do |attr| %>
          <%= fields_for "attribute_options[#{attr.id}]", attr do |att| %>
            <%= att.label :value, "Option Name" %>
            <%= att.text_field :value, class: 'form-control' %>
            <%= att.label :_delete, "Delete?" %>
            <%= att.check_box :_delete, class: 'form-control' %>            
            <br>
           <% end %>
        <% end %>
        </p>
      <% end %>


      <%= f.submit "Save Category", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

