<div class="pure-g log-in">
  <div class="pure-u-1 pure-u-md-1-3"></div>
  <div class="pure-u-1 pure-u-md-1-3 log-in-form">
    <%= form_for(@product, html: {multipart: true, class: "pure-form pure-form-stacked"}) do |f| %>
      <fieldset>
        <legend>Payment Methods</legend>
        <%= f.hidden_field :description, value: @product.description %>
        <% @payment_methods.each do |payment_method| %>
          <%= fields_for "payment_method_links[#{payment_method.id}]", payment_method do |link| %>
            <% boo = !PaymentMethodLink.where("product_id=? AND payment_method_id=?", @product.id, payment_method.id).first.nil? %>
            <label class="pure-checkbox" for="payment_method">
              <%= link.check_box :id, checked: boo, class: "pure-checkbox" %> <%= payment_method.method %>
            </label>
          <% end %>
        <% end %>
        <%= f.submit "Save changes", class: "submit_the_form pure-button pure-button-primary" %>
      </fieldset>
    <% end %>
  </div>
  <div class="pure-u-1 pure-u-md-1-3"></div>
</div>
