  <a href="https://pinterest.com/pin/create/button/?url=<%= URI.encode(request.original_url) %>&media=<%= URI.join(request.url, product.pictures.first.photo_cropped(:large)).to_s.split("?")[0] %>&description=<%= URI.encode(product.title) %>" data-pin-do="buttonPin" data-pin-count="above" data-pin-save="true">
  </a>
  <iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= URI.encode(request.original_url) %>&layout=box_count&mobile_iframe=true&width=57&height=61&appId" width="57" height="61" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <a class="twitter-share-button" href="https://twitter.com/intent/tweet?url=<%= URI.encode(request.original_url) %>" data-size="default">Tweet</a>
  </div>
