<div class="pure-g pad-box">
  <div class="pure-u-1 pure-u-md-1-3 product_view pad-box">

    <% if !@product.pictures.first.nil? %>
      <a class="magnifier" href="<%= @product.pictures.first.photo_cropped(:large) %>">
        <%= image_tag @product.pictures.first.photo_cropped(:medium), class: "pad-box product_image pure-img" %>
      </a>
      <% if current_user?(@product.user) and logged_in? %>
      <%= link_to("Edit Picture", edit_picture_path(@product.pictures.first), class: 'product_edit' ) %>
      <br>
      <%= link_to("Delete Picture", @product.pictures.first, method: :delete, class: 'product_delete' ) %>
      <% end %>
    <% end %>
    <br>
    <% @product.pictures.each do |picture| %>
  <div class="pickers">
      <% if picture == @product.pictures.first %>
        <%= image_tag picture.photo_cropped(:thumbnail), class: "cropped_show pic_active" %>
      <% else %>
        <%= image_tag picture.photo_cropped(:thumbnail), class: "cropped_show" %>
      <% end %>
    <%= hidden_field_tag :mag, picture.photo_cropped(:large), { class: 'mag_link' } %>
    <% if current_user?(@product.user) %>
      <%= hidden_field_tag :pathway, edit_picture_path(picture), { class: 'pathway' } %>
      <%= hidden_field_tag :delete_pathway, picture_path(picture), { class: 'delete_pathway' } %>
      <% end %>
  </div>
    <% end %>
</div>
<div class="pure-u-1 pure-u-md-1-3 pad-box">

<h1>Product Details</h1>
<h2><%= @product.title %>, valued at <%= number_to_currency(@product.price) %></h2>
<h2>Description</h2>
<p><%= @product.description %></p>
<table class="pure-table pure-table-bordered pure-table-striped product_attributes">
  <tbody>
    <tr>
      <td>Location</td>
      <td><%= @product.full_street_address %></td>
    </tr>
    <tr>
      <td>Type</td>
      <td><%= @product.category.name %></td>
    </tr>
    <% @product.toggle_options.each do |opt| %>
      <% if opt.attribute_option.value != "Not Specified" %>
        <tr>
          <td><%= opt.attribute_option.category_option.name %></td>
          <td><%= opt.attribute_option.value %></td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td>Selling Methods</td>
      <td>
        <% @product.selling_methods.each do |sell| %>
          <%= sell.method %><br>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Exchange Methods</td>
      <td>
        <% @product.exchange_methods.each do |exchange| %>
          <%= exchange.method %>
        <% end %>
      </td.
    </tr>
    <tr>
      <td>Payment Methods</td>
      <td>
        <% @product.payment_methods.each do |payment| %>
          <%= payment.method %>
        <% end %>
      </td.
    </tr>     
  </tbody>
</table>
</div>

<div class="pure-u-1 pure-u-md-1-3 pad-box">
  <%= form_for @product do |f| %><%= f.hidden_field :confirmed, value: true %><%= f.submit "Confirm upload", class: "pure-button button-success" %><% end %>
  <button class="pure-button button-warning">Edit</button>
  <button class="pure-button button-error">Delete</button>
</div>


</div>
