<% title = "Product by " + @product.user.name %>
<% provide(:title, "Product") %>
<% normal = !@product.hold && !@product.sold %>
<% has_deal = logged_in? && current_user.active_deals.find_by(product_id: @product.id) != nil %>
<% if !normal %>
  <% if !has_deal %>
    <h1>Sorry, this product is currently unavailable.</h1>
  <% end %>
<% end %>
<div class="product_show_container">
  <h1><%= @product.title %> (<%= @product.category.name %>)</h1>
  <%= image_tag @product.pictures.first.photo.url(:thumb), class: "product_image" %>
  <% @toggle_options.each do |opt| %>
  <h3><%= opt.attribute_option.category_option.name %>: <%= opt.attribute_option.value %></h3>
  <% end %>
</div>
<div class="product_show_container">
  <h1>Product Details</h1>
  <h3>Price: <%= number_to_currency(@product.price) %></h3>
  <h3>Address: <%= @product.full_street_address %></h3>
  <% unless @distance_away.nil? %>
  <h3>Distance from you: <%= @distance_away.round(1) %> miles</h3>
  <% end %>
  <h3>Owner: <%= @product.user.name %></h3>
  <h3>Description: <%= @product.description %></h3>
  <h3>Views: <%= @product.views %></h3>
</div>
<div class="product_show_container">
  <% if @product.user == current_user %><%= link_to "Delete this product", @product, method: :delete, class: "btn btn-primary down",
					    data: { confirm: "Are you sure you wish to delete this?" } %>
  <% end %>
  <% if normal && !has_deal %>
  <%= render 'deal_form' %>
  <% end %>
  <% if has_deal %>
  <%= link_to "Current Deal", current_user.active_deals.find_by(product_id: @product.id) %>
  <% end %>
</div>
<div class="product_show_container">
  <h2>Want to submit a review for this product?</h2>
  <textarea class="review"></textarea>
  <button class="submit">Submit Review</button>
</div>
<div class="options">
  <h2>Selling Methods</h2>
  <% @product.selling_method_links.each do |s| %>
  <p><%= s.selling_method.method %></p>
  <% end %>
  <h2>Exchange Methods</h2>
  <% @product.exchange_method_links.each do |s| %>
  <p><%= s.exchange_method.method %></p>
  <% end %>
  <h2>Payment Methods</h2>
  <% @product.payment_method_links.each do |s| %>
  <p><%= s.payment_method.method %></p>
  <% end %>
</div>
<div class="more_like_this">
<% unless @more_like_this.nil? %>
<h1>Related Products</h1>
<% @more_like_this.each do |prod| %>
<a href="<%= product_url(prod) %>">
<div class="product_box">
<%= image_tag prod.pictures.first.photo.url(:thumb) %>
<p><%= prod.title %><br> <%= number_to_currency(prod.price) %></p>
</div>
</a>
<% end
end %>
</div>
