<div id="share-form">
<%= form_for(Share.new, url: '', html: { class: "pure-form pure-form-stacked" }) do |f| %>
        <fieldset>
          <%= f.text_field :comment, placeholder: "Share something with your followers", class: "full-width", maxlength: 140 %>
          <%= f.submit "Share", class: "align-right pure-button pure-button-primary" %>
        </fieldset>
      <% end %>
</div>
<div class="pure-g pad-box">
	<div class="pure-u-1 pure-u-md-1-5 product_view pad-box">
  
  	<% if !@product.pictures.first.nil? %>
      <% if !@product.main_picture_id.nil? %>
            <a class="magnifier" href="<%= @product.pictures.find(@product.main_picture_id).photo_cropped(:large) %>">
              <%= image_tag @product.pictures.find(@product.main_picture_id).photo_cropped(:thumb), class: "pad-box product_image pure-img" %>
            </a>
          <% else %>
            <a class="magnifier" href="<%= @product.pictures.first.photo_cropped(:large) %>">
              <%= image_tag @product.pictures.first.photo_cropped(:thumb), class: "pad-box product_image pure-img" %>
            </a>
          <% end %>
  		<% if current_user?(@product.user) and logged_in? %>
  		<%= link_to("Edit Picture", edit_picture_path(@product.pictures.first), class: 'product_edit' ) %>
      <br>
      <%= link_to("Delete Picture", @product.pictures.first, method: :delete, class: 'product_delete' ) %>
  		<% end %>
  	<% end %>
  	<br>
  	<% @product.pictures.each do |picture| %>
	<div class="pickers">
  		<% if (picture == @product.pictures.first and @product.main_picture_id.nil?) or picture.id == @product.main_picture_id %>
  			<%= image_tag picture.photo_cropped(:thumbnail), class: "cropped_show pic_active" %>
  		<% else %>
  			<%= image_tag picture.photo_cropped(:thumbnail), class: "cropped_show" %>
  		<% end %>
		<%= hidden_field_tag :mag, picture.photo_cropped(:large), { class: 'mag_link' } %>
		<% if current_user?(@product.user) %>
  		<%= hidden_field_tag :pathway, edit_picture_path(picture), { class: 'pathway' } %>
      <%= hidden_field_tag :delete_pathway, picture_path(picture), { class: 'delete_pathway' } %>
  		<% end %>
	</div>
  	<% end %> 
  <div class="shares">
    <%= link_to pluralize(@product.shares.count, "Share"), '', id: "shares_#{@product.class}_#{@product.id}_#{current_user.id}" unless !logged_in? %>  
    <%= render partial: "products/shares", locals: {product: @product} %>
  </div>
	<div class="pure-u-1 pure-u-md-2-5 product_view pad-box">
    	<h1 class="no-margin"><%= @product.title %></h1>
      <a href="<%= user_url(@product.user) %>"><%= @product.user.name %></a> - <%= @distance_away.round(1) %> miles from you - <a href="<%= user_url(@product.user) %>"><%= @product.user.score %>% rating</a>
      <p>
        <h3 class="inline-header">Price:</h3> 
        <%= number_to_currency(@product.price) %>
      </p>
      <p>
        <h3 class="inline-header">Views:</h3> 
        <%= @product.views %>
      </p>

      <table class="pure-table pure-table-bordered pure-table-striped product_attributes">
	<tbody>
	  <tr>
	    <td>Type</td>
	    <td><%= @product.category.name %></td>
	  </tr>
	  <% @toggle_options.each do |opt| %>
	        <% if opt.attribute_option.value != "Not Specified" %>
            <tr>
              <td><%= opt.attribute_option.category_option.name %></td>
              <td><%= opt.attribute_option.value %></td>
            </tr>
          <% end %>
	      <% end %>
      </tbody>
    </table>
    <div class="pad-down">
      <h3>Product Description</h3>
      <p><%= @product.description %></p>

      <% if @product.deals.count == 0 %>
        <h3>This product is not engaged in any deals.</h3>
      <% else %>
        <h3>Current deals</h3>
        <% @product.deals.each do |deal| %>
          <% if current_user?(deal.seller) || current_user?(deal.buyer) %>
            <p>Go to the <%= link_to "deal", deal %> between <%= link_to deal.buyer.name, deal.buyer %> and <%= link_to deal.seller.name, deal.seller %>.</p>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-2-5 product_view pad-box log-in">
    <% if @product.store != nil %>
      <h1><%= @product.store.name %></h1>
    <% else %>
      <h1><%= @product.user.name %></h1>
    <% end %>
    <p>
    
    <% if logged_in? %>
      <% if current_user.saved_products.find_by(product_id: @product.id).nil? %>
        <button class="pure-button pure-button-primary" id="save_product_<%= @product.id %>_<%= current_user.id %>">Add to wishlist</button>
      <% else %>
        <button class="pure-button pure-button-primary" id="save_product_<%= @product.id %>_<%= current_user.id %>">Remove from wishlist</button>
      <% end %>
    <% end %>
    <br>

    <% if !@product.sold && !@product.hold %>
  		<% if current_user?(@product.user) %>
        <%= link_to "Delete this product", @product, method: :delete, class: "btn btn-primary down",
					    data: { confirm: "Are you sure you wish to delete this?" } %>
  		  <br>
        <%= link_to "Edit product", edit_product_path(@product.id) %>
        <br>
        <%= link_to "Add pictures", add_pictures_product_path(@product.id) %>
        <% if !@product.agreement_achieved %>
          <%= form_for @product do |f| %>
            <%= f.hidden_field :hold, value: true %>
            <%= f.submit "Put product on hold", class: "pure-button pure-button-primary" %>
          <% end %>
        <% end %>

        <% if !@product.agreement_achieved %>
          <%= form_for @product do |f| %>
            <%= f.hidden_field :sold, value: true %>
            <%= f.submit "Mark product as sold", class: "pure-button pure-button-primary" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user == @product.user %>
      <% if !@product.agreement_achieved %>
        <% if @product.sold %>
          <%= form_for @product do |f| %>
            <%= f.hidden_field :sold, value: false %>
            <%= f.submit "Unmark product as sold", class: "pure-button pure-button-primary" %>
          <% end %>  
        <% end %>
        <% if @product.hold %>
          <%= form_for @product do |f| %>
            <%= f.hidden_field :hold, value: false %>
            <%= f.submit "Take product off hold", class: "pure-button pure-button-primary" %>
          <% end %>
        <% end %>
      <% end %>  
    <% end %>
  
    <% active_deal = Deal.where("product_id=?", @product.id).first %>
    <% if @product.hold && active_deal.nil? && current_user == @product.user %>
      <%= form_for @product do |f| %>
        <%= f.hidden_field :hold, value: false %>
        <%= f.submit "Product no longer on hold", class: "pure-button pure-button-primary" %>
      <% end %>
    <% end %>    
  
    <% if @product.user == current_user %>
    <div class="log-in-form">
      <a href="<%= edit_product_path(@product) %>"><h1 class = "method_alert">Selling Methods</h1></a>
      <% @product.selling_method_links.each do |s| %>
        <h3><%= s.selling_method.method %></h3>
      <% end %>
  
      <a href="<%= edit_product_path(@product) %>"><h1 class = "method_alert">Exchange Methods</h1></a>
      <% @product.exchange_method_links.each do |s| %>
        <h3><%= s.exchange_method.method %></h3>
        <% if s.exchange_method.method == "Delivery" %>
          <h4>Delivery cost: <%= number_to_currency(@product.delivery_cost) %></h4>
        <% end %>
      <% end %>
      <a href="<%= edit_product_path(@product) %>"><h1 class = "method_alert">Payment Methods</h1></a>
      <% @product.payment_method_links.each do |s| %>
        <h3><%= s.payment_method.method %></h3>
      <% end %>
      </div>
    <% else %>
      
      

      <% if !@product.sold and !@product.hold %>
        <% if logged_in? %>
      	  <% active_deal = Deal.where("product_id = ? and buyer_id = ?", @product.id, current_user).first %>
          <% if active_deal.nil? %>
            <% if @product.buy_now %>
              <%= render 'buy_now' %>
            <% end %>
            <% if @product.only_buy_now %>
            <% else %>
              <%= form_for(@deal, html: { class: "pure-form pure-form-stacked log-in-form methods deal_extended"}) do |f| %>
                <h3>Selling Methods (choose one)</h3>
                <% @deal.product.selling_method_links.each do |s| %>
                  <% if s.selling_method.method == "Static Price" %>
                    <%= f.label :selling_method, "Static Price ($#{@deal.product.price})", class: "pure-radio deal_selling_label" %>
                  <% else %>
                    <%= f.label :selling_method, "Negotiation (listed price: $#{@deal.product.price})", class: "pure-radio deal_selling_label" %>
                  <% end %>
                  <%= f.radio_button :selling_method_id, s.selling_method.id, class: "deal_selling deal_radio" %>
                  <% if s.selling_method.method == "Negotiation" %>
                    <%= f.number_field :user_proposed_price %>
                  <% end %>
                  <br>
                <% end %>
                <h3>Exchange Methods (choose one) </h3>
                <% @deal.product.exchange_method_links.each do |e| %>
                  <%= f.label :exchange_method, "#{e.exchange_method.method}", class: "pure-radio deal_exchange_label" %>
                    <%= f.radio_button :exchange_method_id, e.exchange_method.id, class: "deal_exchange deal_radio" %>
		              <br>
                <% end %>
                <h3>Payment Methods (choose one)</h3>
                <% @deal.product.payment_method_links.each do |p| %>
                  <%= f.label :payment_method, "#{p.payment_method.method}", class: "pure-radio deal_payment_label" %>
                  <%= f.radio_button :payment_method_id, p.payment_method.id, class: "deal_payment deal_radio" %>
                  <br>
                <% end %>
                <br>
		            <%= f.hidden_field :product_id, value: @product.id %>
		            <%= f.hidden_field :seller_id, value: @product.user.id %>
		            <%= f.hidden_field :buyer_id, value: current_user.id %>
                <%= f.submit "Buy this product", class: "pure-button pure-button-primary product_show_initiate_deal" %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "Go to your deal", active_deal %>
          <% end %>
        <% else %>
          <% store_location %>
          <%= form_tag "/login", method: "get", class: "log-in-form" do %>
            <%= submit_tag "Buy this product", class: 'pure-button pure-button-primary' %>
          <% end %>
        <% end %>
      <% else %>
        <h1>Product is unavailable for sale.</h1>
      <% end %>  
    <% end %>
    </p>
    <% if !current_user?(@product.user) and logged_in? %>
      <h2>Message this user</h2>
      <%= form_for @message do |f| %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.hidden_field :other_id, value: @product.user.id %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.hidden_field :group_id, value: "" %>
        <%= f.text_area :content, class: "message_input", placeholder: "Send a message" %>
        <br>
        <%= f.submit "Send message", class: "form_submit pure-button pure-button-primary" %>
      <% end %>
    <% end %>
    
  </div>
</div>
<h1 class="content-subhead">Related Products</h1>
<div class="more_like_this pure-g">
  <% unless @more_like_this.nil? %>
  <% @more_like_this.each do |prod| %>
  <div class="pure-u-1 pure-u-md-1-5 pad-box">
    <%= render prod %>
  </div>
    <% end %>
  <% end %>
</div>

