<% title = "Product by " + @product.user.name %>
<% provide(:title, "Product") %>
<% normal = !@product.hold %>
<% has_deal = logged_in? && current_user.active_deals.find_by(product_id: @product.id) != nil %>
<% if !normal %>
  <% if !has_deal %>
    <h1>Sorry, this product is currently on hold</h1>
  <% end %>
<% end %>
<div class="container">
  <div class="col-md-4 center">
    <h1><%= @product.commodity %></h1>
    <center><%= image_tag @product.picture_url(:thumb) %></center>
    <center>
     <% if @product.user == current_user %><%= link_to "Delete this product", @product, method: :delete, class: "btn btn-primary down",
    data: { confirm: "Are you sure you wish to delete this?" } %><% end %></center>
    <% if !(normal || has_deal) %>
      <%= render 'deal_form' %>
    <% end %>
    <% if has_deall %>
      <%= link_to "Current Deal", current_user.active_deals.find_by(product_id: @product.id) %>
    <% end %>
  </div>
  <div class="col-md-8 center">
    <h1>Product Details</h1>
    <h3>Price: <%= number_to_currency(@product.price) %></h3>
    <h3>Address: <%= @product.full_street_address %></h3>
    <h3>Owner: <%= @product.user.name %></h3>
    <h3>Description: <%= @product.description %></h3>
  </div>
</div>
