<h3><%= @user.score %>% positive reviews</h3>
<% if @buying_reviews.empty? %>
<% else %>
  <% @buying_reviews.each do |review| %>
    <div class="comment">
    <%= image_tag review.deal.seller.profile_picture(:thumbnail), class: "pure-img" %>
    <a href="<%= user_path(review.deal.seller) %>"><h4><%= review.deal.seller.name %></h4></a>
    <button class="pure-button" id="follow_<%= review.deal.seller.id %>">
      <% if current_user.following?(review.deal.seller) %>
        Unfollow
      <% elsif current_user.id == review.deal.seller.id %>
        Me
      <% else %>
        Follow
      <% end %>
    </button>    
    <h3><%= review.verdict %></h3>
    <p><%= review.message %> <%= link_to "View Product", product_url(review.deal.product) %></p>
    </div>
  <% end %>
<% end %>
<br>
<% if @selling_reviews.empty? %>
<% else %>
  <% @selling_reviews.each do |review| %>
    <div class="comment">
    <%= image_tag review.deal.buyer.profile_picture(:thumbnail), class: "pure-img" %>
    <a href="<%= user_path(review.deal.buyer) %>"><h4><%= review.deal.buyer.name %></h4></a>
    <button class="pure-button" id="follow_<%= review.deal.buyer.id %>">
      <% if current_user.following?(review.deal.buyer) %>
        Unfollow
      <% elsif current_user.id == review.deal.buyer.id %>
        Me
      <% else %>
        Follow
      <% end %>
    </button>
    <h3><%= review.verdict %></h3>
    <p><%= review.message %> <%= link_to "View Product", product_url(review.deal.product) %></p>
    </div>
  <% end %>
<% end %>


