<h3><%= @user.score %>% positive reviews</h3>
<% if @buying_reviews.any? %>
  <h3>As a buyer</h3>
  <table class="pure-table pure-table-striped">
    <thead>
      <tr>
        <th>Verdict</th>
        <th>Message</th>
        <th>User</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <% @buying_reviews.each do |review| %>
        <tr>
          <td><%= review.verdict %></td>
          <td><%= review.message %></td>
          <td><%= link_to review.deal.seller.name, user_path(review.deal.seller) %></td>
          <td><%= link_to "View Product", product_url(review.deal.product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% if @selling_reviews.any? %>
  <h3>As a seller</h3>
  <table class="pure-table pure-table-striped">
    <thead>
      <tr>
       <th>Verdict</th>
       <th>Message</th>
       <th>User</th>
       <th>Product</th>
     </tr>
    </thead>
    <tbody>
      <% @selling_reviews.each do |review| %>
        <tr>
          <td><%= review.verdict %></td>
          <td><%= review.message %></td>
          <td><%= link_to review.deal.buyer.name, user_path(review.deal.buyer) %></td>
          <td><%= link_to "View Product", product_url(review.deal.product) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


