<div class="footer">
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-5">
      <h3 class="footer_header">Links</h3>
      <ul>
        <li><%= link_to "Contact", contact_url %></li>
        <li><%= link_to "About", about_url %></li>
        <li><%= link_to "Help", help_url %></li>
        <li><%= link_to "FAQ", '#' %></li>
      </ul>
    </div>
    <div class="pure-u-1 pure-u-md-1-5"></div>
    <div class="pure-u-1 pure-u-md-1-5">
      <h1 class="content-header">iGold</h2>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a> 
    </div>
    <div class="pure-u-1 pure-u-md-1-5"></div>
    <div class="pure-u-1 pure-u-md-1-5"></div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 bottom-links">
      <%= link_to "Terms of Use", '#' %> | <%= link_to "Privacy Policy", '#' %>
    </div>
  </div>
</div>
<% if logged_in? %>
  <%= hidden_field_tag user_id, current_user.id %>
<% end %>
