<div class="header">
  <div class="top-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <ul class="pure-menu-list top-menu-dropdown">
      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" class="pure-menu-link">Account Actions</a>
        <ul class="pure-menu-children">
          <% if logged_in? %>
            <li class="pure-menu-item"><%= link_to "Users Index", users_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Stores Index", stores_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Upload Product", new_product_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Profile", current_user, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Settings", edit_user_path(current_user), class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Bug report", new_bug_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "My Selling Deals", selling_user_path(current_user), class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "My Buying Deals", buying_user_path(current_user), class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Notifications", notifications_path(current_user), class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Messages", conversations_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Groups", groups_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Log out", logout_path, method: "delete", class: 'pure-menu-link' %></li>
          <% else %>
            <li class="pure-menu-item"><%= link_to "Log in", login_path, class: 'pure-menu-link' %></li>
            <li class="pure-menu-item"><%= link_to "Sign up", new_user_path, class: 'pure-menu-link' %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <%= link_to "iGold", root_path, class: 'pure-menu-heading search-header' %>
    <%= form_tag "/search", method: "get", class: 'pure-form' do %>
    <%= text_field_tag "search_string", "", placeholder: "Search for a product", autocomplete: 'off', class: 'search_string' %>
    <%= submit_tag "Search", class: 'pure-button pure-button-primary' %>
    <div class="suggestions">
    <ul id="sug_list"></ul>
    </div>
    <% end %>
  </div>
</div>
