<div class="green"></div>
<div class="main_navbar_header">

  <div class="main_navbar_top">
    <div class="nav_header"><h1 class="logoicon"><%= link_to "iGold", root_path, class: 'logolink' %></h1></div>
    <%= form_tag "/search", method: "get", class: 'search_header' do %>
    <%= text_field_tag :search_string, 'Search', class: 'search_string' %>
    <%= submit_tag "Search", class: 'search_submit' %>
    <% end %>
    <div class="dropdown_header">
      <button class="dropdown_toggle_header">Account Actions</button>
      <ul class="dropdown_menu_header">
	<% if logged_in? %>
	<li><%= link_to "Public Users", users_path %></li>
	<li><%= link_to "Status", new_status_path %></li>
	<li><%= link_to "Product", new_product_path %></li>
	<li><%= link_to "Selling", selling_user_path(current_user.id) %></li>
	<li><%= link_to "Buying", buying_user_path(current_user.id) %></li>
	<li><%= link_to "Completed", completed_user_path(current_user.id) %></li>
	<li><%= link_to "Notifications", noties_user_path(current_user.id) %></li>
	<li><%= link_to "Profile", current_user %></li>
	<li><%= link_to "Settings", edit_user_path(current_user) %></li>
	<li class="divider"></li>
	<li><%= link_to "Log out", logout_path, method: "delete" %></li>
	<% else %>
	<li><%= link_to "Log in", login_path %></li>
	<li><%= link_to "Sign up", new_user_path %></li>
	<% end %>
      </ul>
    </div>
  </div>
</div>
